<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://emftext.org/db_schema"
            class="org.emftext.language.db_schema.Db_schemaPackage"
            genModel="metamodel/db_schema.genmodel"/>
   </extension>

</plugin>
