<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.customer.resource.customer.mopp.CustomerMetaInformation" id="org.emftext.language.customer.resource.customer.mopp.CustomerMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.customer.resource.customer.ui.CustomerEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="customer" icon="icons/editor_icon.gif" id="org.emftext.language.customer.resource.customer.ui.CustomerEditor" name="EMFText customer Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.customer.resource.customer.ui.CustomerPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Customer Text Editor" id="org.emftext.language.customer.resource.customer.ui.CustomerPreferencePage" class="org.emftext.language.customer.resource.customer.ui.CustomerPreferencePage">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.customer.resource.customer.ui.CustomerSyntaxColoringPreferencePage" class="org.emftext.language.customer.resource.customer.ui.CustomerSyntaxColoringPreferencePage" category="org.emftext.language.customer.resource.customer.ui.CustomerPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.customer.resource.customer.ui.CustomerBracketPreferencePage" class="org.emftext.language.customer.resource.customer.ui.CustomerBracketPreferencePage" category="org.emftext.language.customer.resource.customer.ui.CustomerPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.customer.resource.customer.ui.CustomerOccurrencePreferencePage" class="org.emftext.language.customer.resource.customer.ui.CustomerOccurrencePreferencePage" category="org.emftext.language.customer.resource.customer.ui.CustomerPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.customer.resource.customer.ui.CustomerNewFileWizard" id="org.emftext.language.customer.resource.customer.ui.CustomerNewFileWizard" name="EMFText .customer file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.customer.resource.customer.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.customer.resource.customer.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.customer.resource.customer.mopp.CustomerResourceFactoryDelegator" type="customer">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.customer.resource.customer.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
