<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.customer.resource.customer.mopp.CustomerMetaInformation" id="org.emftext.language.customer.resource.customer.mopp.CustomerMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.customer.resource.customer.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.emftext.language.customer.resource.customer.nature" name="customer nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.customer.resource.customer.mopp.CustomerNature" />
		</runtime>
		<builder id="org.emftext.language.customer.resource.customer.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.customer.resource.customer.builder" name="customer Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.customer.resource.customer.mopp.CustomerBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.customer.resource.customer.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.customer.resource.customer.mopp.CustomerResourceFactoryDelegator" type="customer">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.customer.resource.customer.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
