<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.content_parser">
		<parser class="org.eclipse.emf.ecore.resource.ecore.EcoreResourceFactory" contentTypeIdentifier="org.eclipse.emf.ecore.textual">
		</parser>
	</extension>
		
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.eclipse.org/emf/2002/Ecore" csName="ecore" csDefinition="org.emftext.language.ecore/metamodel/ecore.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="ecore">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.core.runtime.contentTypes" id="org.eclipse.emf.ecore.textual">
		<content-type  id="org.eclipse.emf.ecore.textual"
		 name="Ecore Textual Syntax" 
		 file-extensions="ecore">
		 <describer class="org.emftext.runtime.EMFTextContentDescriber"/>
    	</content-type>
	</extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="\icons\default_new_icon.gif" class="org.eclipse.emf.ecore.resource.ecore.EcoreNewFileAction" id="org.eclipse.emf.ecore.resource.ecore.EcoreNewFileAction" name="EMFText .ecore file">
		</wizard>
	</extension>
</plugin>
