<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/reusejava"
            class="org.emftext.language.java.reusejava.ReusejavaPackage"
            genModel="metamodel/reusejava.genmodel"/>
   </extension>

   <extension
         point="org.reuseware.coconut.ui.eclipse.fragmentStores">

      <compositionSystem
            file="metamodel/reusejava.csys">
      </compositionSystem>
      <reuseExtension
            file="metamodel/reusejava.rex">
      </reuseExtension>
   </extension>
</plugin>
