<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!-- THIS EXTENSION IS REPLACED BY THE ONE IN "resource.classfile": JavaSourceOrClassFileFactoryImpl!
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.emftext.language.java.resource.java.JavaResourceFactoryImpl"
            type="java">
      </parser>
   </extension>
-->

   <extension
         point="org.emftext.runtime.concretesyntax">
      <concretesyntax
            uri="http://www.emftext.org/java"
            csName="java"
            csDefinition="org.emftext.language.java/metamodel/java.cs">
      </concretesyntax>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.emftext.filetype"
            file-extensions="java">
      </file-association>
   </extension>

</plugin>
