<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<!-- THIS EXTENSION IS REPLACED BY THE ONE IN "resource.classfile": JavaSourceOrClassFileFactoryImpl!
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.emftext.language.java.resource.java.JavaResourceFactoryImpl"
            type="java">
      </parser>
   </extension>
-->

	<extension point="org.emftext.runtime.syntax">
		<metaInformationProvider class="org.emftext.language.java.resource.java.JavaMetaInformation" id="org.emftext.language.valueflow.resource.valueflow.ValueflowMetaInformation">
		</metaInformationProvider>
	</extension>

   <extension
         point="org.emftext.runtime.default_load_options">
      <provider
      		csName="java"
            class="org.emftext.language.java.resource.java.analysis.helper.UnicodeConverterOptionProvider"
            id="org.emftext.language.java.unicode_converter_option_provider">
      </provider>
   </extension>
   
   <extension
         point="org.emftext.runtime.default_load_options">
      <provider
            class="org.emftext.language.java.resource.java.analysis.helper.JavaPostProcessor"
            csName="java"
            id="org.emftext.language.java.expression_simplifier_option_provider">
      </provider>
   </extension>
   
</plugin>
