<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.ecore.resource.text.mopp.TextEcoreMetaInformation" id="org.emftext.language.ecore.resource.text.mopp.TextEcoreMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.ecore.resource.text.ui.TextEcoreEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="ecore" icon="icons/editor_icon.gif" id="org.emftext.language.ecore.resource.text.ui.TextEcoreEditor" name="EMFText text.ecore Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.ecore.resource.text.ui.TextEcorePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="TextEcore Text Editor" id="org.emftext.language.ecore.resource.text.ui.TextEcorePreferencePage" class="org.emftext.language.ecore.resource.text.ui.TextEcorePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.ecore.resource.text.ui.TextEcoreSyntaxColoringPreferencePage" class="org.emftext.language.ecore.resource.text.ui.TextEcoreSyntaxColoringPreferencePage" category="org.emftext.language.ecore.resource.text.ui.TextEcorePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.ecore.resource.text.ui.TextEcoreBracketPreferencePage" class="org.emftext.language.ecore.resource.text.ui.TextEcoreBracketPreferencePage" category="org.emftext.language.ecore.resource.text.ui.TextEcorePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.ecore.resource.text.ui.TextEcoreOccurrencePreferencePage" class="org.emftext.language.ecore.resource.text.ui.TextEcoreOccurrencePreferencePage" category="org.emftext.language.ecore.resource.text.ui.TextEcorePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.ecore.resource.text.ui.TextEcoreNewFileWizard" id="org.emftext.language.ecore.resource.text.ui.TextEcoreNewFileWizard" name="EMFText .text.ecore file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.ecore.resource.text.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.ecore.resource.text.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.emftext.language.ecore.resource.ecore.additional_extension_parser">
		<parser class="org.emftext.language.ecore.resource.text.mopp.TextEcoreResourceFactory" type="text">
		</parser>
	</extension>
	
</plugin>
