<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.dot.resource.dot.ui.DotUIMetaInformation" id="org.emftext.language.dot.resource.dot.ui.DotUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.dot.resource.dot.ui.DotEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="dot" icon="icons/editor_icon.gif" id="org.emftext.language.dot.resource.dot.ui.DotEditor" name="EMFText dot Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.dot.resource.dot"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.dot.resource.dot.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.dot.resource.dot.ui.DotPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Dot Text Editor" id="org.emftext.language.dot.resource.dot.ui.DotPreferencePage" class="org.emftext.language.dot.resource.dot.ui.DotPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.dot.resource.dot.ui.DotSyntaxColoringPreferencePage" class="org.emftext.language.dot.resource.dot.ui.DotSyntaxColoringPreferencePage" category="org.emftext.language.dot.resource.dot.ui.DotPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.dot.resource.dot.ui.DotBracketPreferencePage" class="org.emftext.language.dot.resource.dot.ui.DotBracketPreferencePage" category="org.emftext.language.dot.resource.dot.ui.DotPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.dot.resource.dot.ui.DotOccurrencePreferencePage" class="org.emftext.language.dot.resource.dot.ui.DotOccurrencePreferencePage" category="org.emftext.language.dot.resource.dot.ui.DotPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.dot.resource.dot.ui.DotNewFileWizard" id="org.emftext.language.dot.resource.dot.ui.DotNewFileWizard" name="EMFText .dot file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.dot.resource.dot.ui.DotAnnotationModelFactory" extensions="dot" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.dot.resource.dot" name=".dot File" base-type="org.eclipse.core.runtime.text" file-extensions="dot"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="dot" id="org.emftext.language.dot.resource.dot.ui.provider" />
	</extension>
	
</plugin>
