<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="ecore" icon="icons/editor_icon.gif" id="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreEditor" name="EMFText facade.ecore Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.ecore.resource.ui.facade.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.ecore.resource.facade.ui.FacadeEcorePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="FacadeEcore Text Editor" id="org.emftext.language.ecore.resource.facade.ui.FacadeEcorePreferencePage" class="org.emftext.language.ecore.resource.facade.ui.FacadeEcorePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreSyntaxColoringPreferencePage" class="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreSyntaxColoringPreferencePage" category="org.emftext.language.ecore.resource.facade.ui.FacadeEcorePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreBracketPreferencePage" class="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreBracketPreferencePage" category="org.emftext.language.ecore.resource.facade.ui.FacadeEcorePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreOccurrencePreferencePage" class="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreOccurrencePreferencePage" category="org.emftext.language.ecore.resource.facade.ui.FacadeEcorePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreNewFileWizard" id="org.emftext.language.ecore.resource.facade.ui.FacadeEcoreNewFileWizard" name="EMFText .facade.ecore file">
		</wizard>
	</extension>
	
</plugin>
