<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryUIMetaInformation" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="modelquery" icon="icons/editor_icon.gif" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryEditor" name="EMFText modelquery Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.modelquery.resource.modelquery.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Modelquery Text Editor" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryPreferencePage" class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelquerySyntaxColoringPreferencePage" class="org.emftext.language.modelquery.resource.modelquery.ui.ModelquerySyntaxColoringPreferencePage" category="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryBracketPreferencePage" class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryBracketPreferencePage" category="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryOccurrencePreferencePage" class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryOccurrencePreferencePage" category="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryNewFileWizard" id="org.emftext.language.modelquery.resource.modelquery.ui.ModelqueryNewFileWizard" name="EMFText .modelquery file">
		</wizard>
	</extension>
	
</plugin>
