<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiResourceFactory" type="simplegui">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiMetaInformation" id="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.simplegui" name="EMFText simplegui Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.simplegui" file-extensions="simplegui">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.simple_gui.resource.simplegui.ui.SimpleguiEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.simple_gui.resource.simplegui.ui.SimpleguiEditor" name="EMFText simplegui Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.simplegui" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.simple_gui.resource.simplegui.ui.SimpleguiPreferenceInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.simple_gui.resource.simplegui.ui.SimpleguiNewFileWizard" id="org.emftext.language.simple_gui.resource.simplegui.ui.SimpleguiNewFileWizard" name="EMFText .simplegui file">
		</wizard>
	</extension>
	
</plugin>
