<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.simple_gui.resource.simplegui.SimpleguiResourceFactory" type="simplegui">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.emftext.org/simple_gui" csName="simplegui" csDefinition="org.emftext.language.simple_gui/metamodel/simple_gui.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="simplegui">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.simple_gui.resource.simplegui.SimpleguiNewFileWizard" id="org.emftext.language.simple_gui.resource.simplegui.SimpleguiNewFileWizard" name="EMFText .simplegui file">
		</wizard>
	</extension>
	
</plugin>
