<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiMetaInformation" id="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.simple_gui.resource.simplegui.nature" name="simplegui nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiNature" />
		</runtime>
		<builder id="org.emftext.language.simple_gui.resource.simplegui.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.simple_gui.resource.simplegui.builder" name="simplegui Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.simple_gui.resource.simplegui.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.simple_gui.resource.simplegui.mopp.SimpleguiResourceFactoryDelegator" type="simplegui">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.simple_gui.resource.simplegui.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
