<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.abnf.resource.abnf.ui.AbnfUIMetaInformation" id="org.emftext.language.abnf.resource.abnf.ui.AbnfUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.abnf.resource.abnf.ui.AbnfEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="abnf" icon="icons/editor_icon.gif" id="org.emftext.language.abnf.resource.abnf.ui.AbnfEditor" name="EMFText abnf Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.abnf.resource.abnf"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.abnf.resource.abnf.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.abnf.resource.abnf.ui.AbnfPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Abnf Text Editor" id="org.emftext.language.abnf.resource.abnf.ui.AbnfPreferencePage" class="org.emftext.language.abnf.resource.abnf.ui.AbnfPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.abnf.resource.abnf.ui.AbnfSyntaxColoringPreferencePage" class="org.emftext.language.abnf.resource.abnf.ui.AbnfSyntaxColoringPreferencePage" category="org.emftext.language.abnf.resource.abnf.ui.AbnfPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.abnf.resource.abnf.ui.AbnfBracketPreferencePage" class="org.emftext.language.abnf.resource.abnf.ui.AbnfBracketPreferencePage" category="org.emftext.language.abnf.resource.abnf.ui.AbnfPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.abnf.resource.abnf.ui.AbnfOccurrencePreferencePage" class="org.emftext.language.abnf.resource.abnf.ui.AbnfOccurrencePreferencePage" category="org.emftext.language.abnf.resource.abnf.ui.AbnfPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.abnf.resource.abnf.ui.AbnfNewFileWizard" id="org.emftext.language.abnf.resource.abnf.ui.AbnfNewFileWizard" name="EMFText .abnf file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.abnf.resource.abnf.ui.AbnfAnnotationModelFactory" extensions="abnf" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.abnf.resource.abnf" name=".abnf File" base-type="org.eclipse.core.runtime.text" file-extensions="abnf"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="abnf" id="org.emftext.language.abnf.resource.abnf.ui.provider" />
	</extension>
	
</plugin>
