<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.km3.resource.km3.ui.Km3UIMetaInformation" id="org.emftext.language.km3.resource.km3.ui.Km3UIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.km3.resource.km3.ui.Km3Editor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="km3" icon="icons/editor_icon.gif" id="org.emftext.language.km3.resource.km3.ui.Km3Editor" name="EMFText km3 Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.km3.resource.km3"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.km3.resource.km3.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.km3.resource.km3.ui.Km3PreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Km3 Text Editor" id="org.emftext.language.km3.resource.km3.ui.Km3PreferencePage" class="org.emftext.language.km3.resource.km3.ui.Km3PreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.km3.resource.km3.ui.Km3SyntaxColoringPreferencePage" class="org.emftext.language.km3.resource.km3.ui.Km3SyntaxColoringPreferencePage" category="org.emftext.language.km3.resource.km3.ui.Km3PreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.km3.resource.km3.ui.Km3BracketPreferencePage" class="org.emftext.language.km3.resource.km3.ui.Km3BracketPreferencePage" category="org.emftext.language.km3.resource.km3.ui.Km3PreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.km3.resource.km3.ui.Km3OccurrencePreferencePage" class="org.emftext.language.km3.resource.km3.ui.Km3OccurrencePreferencePage" category="org.emftext.language.km3.resource.km3.ui.Km3PreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.km3.resource.km3.ui.Km3NewFileWizard" id="org.emftext.language.km3.resource.km3.ui.Km3NewFileWizard" name="EMFText .km3 file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.km3.resource.km3.ui.Km3AnnotationModelFactory" extensions="km3" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.km3.resource.km3" name=".km3 File" base-type="org.eclipse.core.runtime.text" file-extensions="km3"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="km3" id="org.emftext.language.km3.resource.km3.ui.provider" />
	</extension>
	
</plugin>
