<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension point="org.emftext.language.owl.resource.owl.default_load_options">
	   <provider
	          class="org.emftext.language.owl.ConsistencyChecker"
	          id="org.emftext.language.owl.ConsistencyChecker">
	   </provider>
   </extension>

	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.owl.resource.owl.mopp.OwlResourceFactory" type="owl">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.owl.resource.owl.mopp.OwlTextResourcePluginMetaInformation" id="org.emftext.language.owl.resource.owl.mopp.OwlTextResourcePluginMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.owl" name="EMFText owl Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.owl" file-extensions="owl">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.owl.resource.owl.ui.OwlEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.owl.resource.owl.ui.OwlEditor" name="EMFText owl Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.owl" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.owl.resource.owl.ui.OwlPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.owl.resource.owl.ui.OwlNewFileWizard" id="org.emftext.language.owl.resource.owl.ui.OwlNewFileWizard" name="EMFText .owl file">
		</wizard>
	</extension>
	
	<extension-point id="org.emftext.language.owl.resource.owl.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
