<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.bool.resource.bool.mopp.BoolMetaInformation" id="org.emftext.language.bool.resource.bool.mopp.BoolMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.bool.resource.bool.ui.BoolEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="bool" icon="icons/editor_icon.gif" id="org.emftext.language.bool.resource.bool.ui.BoolEditor" name="EMFText bool Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.bool.resource.bool.ui.BoolPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Bool Text Editor" id="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.bool.resource.bool.ui.BoolSyntaxColoringPreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolSyntaxColoringPreferencePage" category="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.bool.resource.bool.ui.BoolBracketPreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolBracketPreferencePage" category="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.bool.resource.bool.ui.BoolOccurrencePreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolOccurrencePreferencePage" category="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.bool.resource.bool.ui.BoolNewFileWizard" id="org.emftext.language.bool.resource.bool.ui.BoolNewFileWizard" name="EMFText .bool file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.nature" name="bool nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.bool.resource.bool.mopp.BoolNature" />
		</runtime>
		<builder id="org.emftext.language.bool.resource.bool.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.bool.resource.bool.builder" name="bool Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.bool.resource.bool.mopp.BoolBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.bool.resource.bool.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.bool.resource.bool.mopp.BoolResourceFactoryDelegator" type="bool">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.bool.resource.bool.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
