<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.emftext.language.template_concepts.call.resource.template_call.default_load_options">
		<provider
			class="org.emftext.language.templateconcepts.interpreter.InterpreterExecuter"
			id="org.emftext.language.template_concepts.interpreter.InterpreterExecuter">
		</provider>
	</extension>
</plugin>
