<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.simple_c.resource.c.ui.CUIMetaInformation" id="org.emftext.language.simple_c.resource.c.ui.CUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.simple_c.resource.c.ui.CEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="c" icon="icons/editor_icon.gif" id="org.emftext.language.simple_c.resource.c.ui.CEditor" name="EMFText c Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.simple_c.resource.c.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.simple_c.resource.c.ui.CPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="C Text Editor" id="org.emftext.language.simple_c.resource.c.ui.CPreferencePage" class="org.emftext.language.simple_c.resource.c.ui.CPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.simple_c.resource.c.ui.CSyntaxColoringPreferencePage" class="org.emftext.language.simple_c.resource.c.ui.CSyntaxColoringPreferencePage" category="org.emftext.language.simple_c.resource.c.ui.CPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.simple_c.resource.c.ui.CBracketPreferencePage" class="org.emftext.language.simple_c.resource.c.ui.CBracketPreferencePage" category="org.emftext.language.simple_c.resource.c.ui.CPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.simple_c.resource.c.ui.COccurrencePreferencePage" class="org.emftext.language.simple_c.resource.c.ui.COccurrencePreferencePage" category="org.emftext.language.simple_c.resource.c.ui.CPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.simple_c.resource.c.ui.CNewFileWizard" id="org.emftext.language.simple_c.resource.c.ui.CNewFileWizard" name="EMFText .c file">
		</wizard>
	</extension>
	
</plugin>
