<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.filesystem.resource.fs.mopp.FsResourceFactory" type="fs">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.filesystem.resource.fs.mopp.FsMetaInformation" id="org.emftext.language.filesystem.resource.fs.mopp.FsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.filesystem.resource.fs.ui.FsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="fs" icon="icons/editor_icon.gif" id="org.emftext.language.filesystem.resource.fs.ui.FsEditor" name="EMFText fs Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.filesystem.resource.fs.ui.FsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.filesystem.resource.fs.ui.FsNewFileWizard" id="org.emftext.language.filesystem.resource.fs.ui.FsNewFileWizard" name="EMFText .fs file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.filesystem.resource.fs.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.filesystem.resource.fs.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
