<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.emftext.language.c_sharp.C_sharpPackage"
            genModel="metamodel/c_sharp.genmodel"
            uri="http://www.reuseware.org/c_sharp">
      </package>
   </extension>

</plugin>
