<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocUIMetaInformation" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="emfdoc" icon="icons/editor_icon.gif" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocEditor" name="EMFText emfdoc Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.emfdoc.resource.emfdoc"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Emfdoc Text Editor" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocPreferencePage" class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocSyntaxColoringPreferencePage" class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocSyntaxColoringPreferencePage" category="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocBracketPreferencePage" class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocBracketPreferencePage" category="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocOccurrencePreferencePage" class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocOccurrencePreferencePage" category="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocNewFileWizard" id="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocNewFileWizard" name="EMFText .emfdoc file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocMarkerResolutionGenerator" markerType="org.emftext.language.emfdoc.resource.emfdoc.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.emfdoc.resource.emfdoc.ui.EmfdocAnnotationModelFactory" extensions="emfdoc" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.emfdoc.resource.emfdoc" name=".emfdoc File" base-type="org.eclipse.core.runtime.text" file-extensions="emfdoc"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="emfdoc" id="org.emftext.language.emfdoc.resource.emfdoc.ui.provider" />
	</extension>
	
</plugin>
