<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.rails.resource.rails.ui.RailsUIMetaInformation" id="org.emftext.language.rails.resource.rails.ui.RailsUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.rails.resource.rails.ui.RailsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="rails" icon="icons/editor_icon.gif" id="org.emftext.language.rails.resource.rails.ui.RailsEditor" name="EMFText rails Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.rails.resource.rails"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.rails.resource.rails.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.rails.resource.rails.ui.RailsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Rails Text Editor" id="org.emftext.language.rails.resource.rails.ui.RailsPreferencePage" class="org.emftext.language.rails.resource.rails.ui.RailsPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.rails.resource.rails.ui.RailsSyntaxColoringPreferencePage" class="org.emftext.language.rails.resource.rails.ui.RailsSyntaxColoringPreferencePage" category="org.emftext.language.rails.resource.rails.ui.RailsPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.rails.resource.rails.ui.RailsBracketPreferencePage" class="org.emftext.language.rails.resource.rails.ui.RailsBracketPreferencePage" category="org.emftext.language.rails.resource.rails.ui.RailsPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.rails.resource.rails.ui.RailsOccurrencePreferencePage" class="org.emftext.language.rails.resource.rails.ui.RailsOccurrencePreferencePage" category="org.emftext.language.rails.resource.rails.ui.RailsPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.rails.resource.rails.ui.RailsNewFileWizard" id="org.emftext.language.rails.resource.rails.ui.RailsNewFileWizard" name="EMFText .rails file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.rails.resource.rails.ui.RailsAnnotationModelFactory" extensions="rails" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.rails.resource.rails" name=".rails File" base-type="org.eclipse.core.runtime.text" file-extensions="rails"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="rails" id="org.emftext.language.rails.resource.rails.ui.provider" />
	</extension>
	
</plugin>
