<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.regexp.resource.regexp_sdf.mopp.Regexp_sdfMetaInformation" id="org.emftext.language.regexp.resource.regexp_sdf.mopp.Regexp_sdfMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="regexp_sdf" icon="icons/editor_icon.gif" id="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfEditor" name="EMFText regexp_sdf Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Regexp_sdf Text Editor" id="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfPreferencePage" class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfSyntaxColoringPreferencePage" class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfSyntaxColoringPreferencePage" category="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfBracketPreferencePage" class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfBracketPreferencePage" category="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfOccurrencePreferencePage" class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfOccurrencePreferencePage" category="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfNewFileWizard" id="org.emftext.language.regexp.resource.regexp_sdf.ui.Regexp_sdfNewFileWizard" name="EMFText .regexp_sdf file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.regexp.resource.regexp_sdf.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.regexp.resource.regexp_sdf.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.regexp.resource.regexp_sdf.mopp.Regexp_sdfResourceFactoryDelegator" type="regexp_sdf">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.regexp.resource.regexp_sdf.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
