<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaUIMetaInformation" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="propjava" icon="icons/editor_icon.gif" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaEditor" name="EMFText propjava Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.java.properties.resource.propjava"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Propjava Text Editor" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferencePage" class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaSyntaxColoringPreferencePage" class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaSyntaxColoringPreferencePage" category="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaBracketPreferencePage" class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaBracketPreferencePage" category="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaOccurrencePreferencePage" class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaOccurrencePreferencePage" category="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaNewFileWizard" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaNewFileWizard" name="EMFText .propjava file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaMarkerResolutionGenerator" markerType="org.emftext.language.java.properties.resource.propjava.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaAnnotationModelFactory" extensions="propjava" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.java.properties.resource.propjava" name=".propjava File" base-type="org.eclipse.core.runtime.text" file-extensions="propjava"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="propjava" id="org.emftext.language.java.properties.resource.propjava.ui.provider" />
	</extension>
	
</plugin>
