<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.eocl.resource.eocl.ui.EoclUIMetaInformation" id="org.emftext.language.eocl.resource.eocl.ui.EoclUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.eocl.resource.eocl.ui.EoclEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="eocl" icon="icons/editor_icon.gif" id="org.emftext.language.eocl.resource.eocl.ui.EoclEditor" name="EMFText eocl Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.eocl.resource.eocl.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.eocl.resource.eocl.ui.EoclPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Eocl Text Editor" id="org.emftext.language.eocl.resource.eocl.ui.EoclPreferencePage" class="org.emftext.language.eocl.resource.eocl.ui.EoclPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.eocl.resource.eocl.ui.EoclSyntaxColoringPreferencePage" class="org.emftext.language.eocl.resource.eocl.ui.EoclSyntaxColoringPreferencePage" category="org.emftext.language.eocl.resource.eocl.ui.EoclPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.eocl.resource.eocl.ui.EoclBracketPreferencePage" class="org.emftext.language.eocl.resource.eocl.ui.EoclBracketPreferencePage" category="org.emftext.language.eocl.resource.eocl.ui.EoclPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.eocl.resource.eocl.ui.EoclOccurrencePreferencePage" class="org.emftext.language.eocl.resource.eocl.ui.EoclOccurrencePreferencePage" category="org.emftext.language.eocl.resource.eocl.ui.EoclPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.eocl.resource.eocl.ui.EoclNewFileWizard" id="org.emftext.language.eocl.resource.eocl.ui.EoclNewFileWizard" name="EMFText .eocl file">
		</wizard>
	</extension>
	
</plugin>
