<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.properties.resource.propjava.mopp.PropjavaResourceFactory" type="propjava">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.java.properties.resource.propjava.mopp.PropjavaTextResourcePluginMetaInformation" id="org.emftext.language.java.properties.resource.propjava.mopp.PropjavaTextResourcePluginMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.propjava" name="EMFText propjava Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.propjava" file-extensions="propjava">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaEditor" name="EMFText propjava Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.propjava" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.properties.resource.propjava.ui.PropjavaNewFileWizard" id="org.emftext.language.java.properties.resource.propjava.ui.PropjavaNewFileWizard" name="EMFText .propjava file">
		</wizard>
	</extension>
	
	<extension-point id="org.emftext.language.java.properties.resource.propjava.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
