<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.properties.resource.propjava.PropjavaResourceFactory" type="propjava">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.syntax">
		<metaInformationProvider class="org.emftext.language.java.properties.resource.propjava.PropjavaMetaInformation" id="org.emftext.language.java.properties.resource.propjava.PropjavaMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="propjava">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.properties.resource.propjava.PropjavaNewFileWizard" id="org.emftext.language.java.properties.resource.propjava.PropjavaNewFileWizard" name="EMFText .propjava file">
		</wizard>
	</extension>
	
</plugin>
