<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.bool.resource.bool.ui.BoolUIMetaInformation" id="org.emftext.language.bool.resource.bool.ui.BoolUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.bool.resource.bool.ui.BoolEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="bool" icon="icons/editor_icon.gif" id="org.emftext.language.bool.resource.bool.ui.BoolEditor" name="EMFText bool Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.bool.resource.bool.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.bool.resource.bool.ui.BoolPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Bool Text Editor" id="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.bool.resource.bool.ui.BoolSyntaxColoringPreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolSyntaxColoringPreferencePage" category="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.bool.resource.bool.ui.BoolBracketPreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolBracketPreferencePage" category="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.bool.resource.bool.ui.BoolOccurrencePreferencePage" class="org.emftext.language.bool.resource.bool.ui.BoolOccurrencePreferencePage" category="org.emftext.language.bool.resource.bool.ui.BoolPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.bool.resource.bool.ui.BoolNewFileWizard" id="org.emftext.language.bool.resource.bool.ui.BoolNewFileWizard" name="EMFText .bool file">
		</wizard>
	</extension>
	
</plugin>
