<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslUIMetaInformation" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="martinfowlerdsl" icon="icons/editor_icon.gif" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslEditor" name="EMFText martinfowlerdsl Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Martinfowlerdsl Text Editor" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslPreferencePage" class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslSyntaxColoringPreferencePage" class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslSyntaxColoringPreferencePage" category="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslBracketPreferencePage" class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslBracketPreferencePage" category="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslOccurrencePreferencePage" class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslOccurrencePreferencePage" category="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslNewFileWizard" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslNewFileWizard" name="EMFText .martinfowlerdsl file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslMarkerResolutionGenerator" markerType="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.MartinfowlerdslAnnotationModelFactory" extensions="martinfowlerdsl" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl" name=".martinfowlerdsl File" base-type="org.eclipse.core.runtime.text" file-extensions="martinfowlerdsl"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="martinfowlerdsl" id="org.emftext.language.martinfowlerdsl.resource.martinfowlerdsl.ui.provider" />
	</extension>
	
</plugin>
