<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/java_templates"
            class="org.emftext.language.java.templates.Java_templatesPackage"
            genModel="metamodel/java_templates.genmodel"/>
   </extension>

</plugin>
