<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvUIMetaInformation" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="ucinv" icon="icons/editor_icon.gif" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvEditor" name="EMFText ucinv Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.usecaseinvariant.resource.ucinv"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Ucinv Text Editor" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvPreferencePage" class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvSyntaxColoringPreferencePage" class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvSyntaxColoringPreferencePage" category="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvBracketPreferencePage" class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvBracketPreferencePage" category="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvOccurrencePreferencePage" class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvOccurrencePreferencePage" category="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvNewFileWizard" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvNewFileWizard" name="EMFText .ucinv file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.usecaseinvariant.resource.ucinv.ui.UcinvAnnotationModelFactory" extensions="ucinv" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.usecaseinvariant.resource.ucinv" name=".ucinv File" base-type="org.eclipse.core.runtime.text" file-extensions="ucinv"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="ucinv" id="org.emftext.language.usecaseinvariant.resource.ucinv.ui.provider" />
	</extension>
	
</plugin>
