<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.plugin.resource.topf.TopfResourceFactory" type="topf">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://org.emftext.languages/plugin" csName="topf" csDefinition="org.emftext.language.plugin/metamodel/plugin.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="topf">
		</file-association>
	</extension>
 
 <extension
       point="org.emftext.runtime.default_load_options">
    <provider
          class="org.emftext.language.plugin.resource.topf.TopfOptionProvider"
          csName="topf"
          id="org.emftext.language.plugin.resource.topf"
          name="TopfOptionProvider">
    </provider>
 </extension>
	
</plugin>
