<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.emftext.language.owl.resource.owl.default_load_options">
	<provider
			class="org.emftext.language.owl.reasoning.ConsistencyChecker"
			id="org.emftext.language.owl.ConsistencyChecker">
		</provider>
	</extension>
</plugin>
