<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedUIMetaInformation" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="pl0extended" icon="icons/editor_icon.gif" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedEditor" name="EMFText pl0extended Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.pl0extended.resource.pl0extended.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Pl0extended Text Editor" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedPreferencePage" class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedSyntaxColoringPreferencePage" class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedSyntaxColoringPreferencePage" category="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedBracketPreferencePage" class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedBracketPreferencePage" category="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedOccurrencePreferencePage" class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedOccurrencePreferencePage" category="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedNewFileWizard" id="org.emftext.language.pl0extended.resource.pl0extended.ui.Pl0extendedNewFileWizard" name="EMFText .pl0extended file">
		</wizard>
	</extension>
	
</plugin>
