<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.sparql.resource.sparql.mopp.RqMetaInformation" id="org.emftext.language.sparql.resource.sparql.mopp.RqMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.sparql.resource.sparql.ui.RqEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="rq" icon="icons/editor_icon.gif" id="org.emftext.language.sparql.resource.sparql.ui.RqEditor" name="EMFText rq Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.sparql.resource.sparql.ui.RqPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Rq Text Editor" id="org.emftext.language.sparql.resource.sparql.ui.RqPreferencePage" class="org.emftext.language.sparql.resource.sparql.ui.RqPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.sparql.resource.sparql.ui.RqSyntaxColoringPreferencePage" class="org.emftext.language.sparql.resource.sparql.ui.RqSyntaxColoringPreferencePage" category="org.emftext.language.sparql.resource.sparql.ui.RqPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.sparql.resource.sparql.ui.RqBracketPreferencePage" class="org.emftext.language.sparql.resource.sparql.ui.RqBracketPreferencePage" category="org.emftext.language.sparql.resource.sparql.ui.RqPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.sparql.resource.sparql.ui.RqOccurrencePreferencePage" class="org.emftext.language.sparql.resource.sparql.ui.RqOccurrencePreferencePage" category="org.emftext.language.sparql.resource.sparql.ui.RqPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.sparql.resource.sparql.ui.RqNewFileWizard" id="org.emftext.language.sparql.resource.sparql.ui.RqNewFileWizard" name="EMFText .rq file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.sparql.resource.sparql.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.sparql.resource.sparql.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.sparql.resource.sparql.mopp.RqResourceFactoryDelegator" type="rq">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.sparql.resource.sparql.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
