<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.aterms.resource.aterms.ui.AtermsUIMetaInformation" id="org.emftext.language.aterms.resource.aterms.ui.AtermsUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.aterms.resource.aterms.ui.AtermsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="aterms" icon="icons/editor_icon.gif" id="org.emftext.language.aterms.resource.aterms.ui.AtermsEditor" name="EMFText aterms Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.aterms.resource.aterms"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.aterms.resource.aterms.ui.AtermsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Aterms Text Editor" id="org.emftext.language.aterms.resource.aterms.ui.AtermsPreferencePage" class="org.emftext.language.aterms.resource.aterms.ui.AtermsPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.aterms.resource.aterms.ui.AtermsSyntaxColoringPreferencePage" class="org.emftext.language.aterms.resource.aterms.ui.AtermsSyntaxColoringPreferencePage" category="org.emftext.language.aterms.resource.aterms.ui.AtermsPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.aterms.resource.aterms.ui.AtermsBracketPreferencePage" class="org.emftext.language.aterms.resource.aterms.ui.AtermsBracketPreferencePage" category="org.emftext.language.aterms.resource.aterms.ui.AtermsPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.aterms.resource.aterms.ui.AtermsOccurrencePreferencePage" class="org.emftext.language.aterms.resource.aterms.ui.AtermsOccurrencePreferencePage" category="org.emftext.language.aterms.resource.aterms.ui.AtermsPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.aterms.resource.aterms.ui.AtermsNewFileWizard" id="org.emftext.language.aterms.resource.aterms.ui.AtermsNewFileWizard" name="EMFText .aterms file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.aterms.resource.aterms.ui.AtermsMarkerResolutionGenerator" markerType="org.emftext.language.aterms.resource.aterms.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.aterms.resource.aterms.ui.AtermsAnnotationModelFactory" extensions="aterms" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.aterms.resource.aterms" name=".aterms File" base-type="org.eclipse.core.runtime.text" file-extensions="aterms"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="aterms" id="org.emftext.language.aterms.resource.aterms.ui.provider" />
	</extension>
	
</plugin>
