<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiUIMetaInformation" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="simplegui" icon="icons/editor_icon.gif" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiEditor" name="EMFText simplegui Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.simplegui.resource.simplegui"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.simplegui.resource.simplegui.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Simplegui Text Editor" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiPreferencePage" class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiSyntaxColoringPreferencePage" class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiSyntaxColoringPreferencePage" category="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiBracketPreferencePage" class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiBracketPreferencePage" category="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiOccurrencePreferencePage" class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiOccurrencePreferencePage" category="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiNewFileWizard" id="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiNewFileWizard" name="EMFText .simplegui file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.simplegui.resource.simplegui.ui.SimpleguiAnnotationModelFactory" extensions="simplegui" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.simplegui.resource.simplegui" name=".simplegui File" base-type="org.eclipse.core.runtime.text" file-extensions="simplegui"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="simplegui" id="org.emftext.language.simplegui.resource.simplegui.ui.provider" />
	</extension>
	
</plugin>
