<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="org.emftext.runtime.default_load_options">
    <provider
          class="org.emftext.language.template_concepts.interpreter.Interpreter"
          csName="template_call"
          id="org.emftext.language.template_concepts.interpreter.Interpreter">
    </provider>
 </extension>
	
</plugin>
