<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.emftext.language.java.reusejava.resource.reusejava.ReusejavaResourceFactory"
            type="reusejava">
      </parser>
   </extension>

   <extension
         point="org.emftext.runtime.concretesyntax">
      <concretesyntax
            uri="http://www.emftext.org/reusejava"
            csName="reusejava"
            csDefinition="org.emftext.language.java.reusejava/metamodel/reusejava.cs">
      </concretesyntax>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.emftext.filetype"
            file-extensions="reusejava">
      </file-association>
   </extension>

   <extension
         point="org.emftext.runtime.default_load_options">
      <provider
      		csName="reusejava"
            class="org.emftext.language.java.resource.java.analysis.helper.UnicodeConverterOption"
            id="org.emftext.language.java.unicode_converter_option_provider">
      </provider>
   </extension>
   
   <extension
         point="org.emftext.runtime.default_load_options">
      <provider
            class="org.emftext.language.java.resource.java.analysis.helper.ExpressionSimplifierOption"
            csName="reusejava"
            id="org.emftext.language.java.expression_simplifier_option_provider">
      </provider>
   </extension>
   
</plugin>
