<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowUIMetaInformation" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="valueflow" icon="icons/editor_icon.gif" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowEditor" name="EMFText text.valueflow Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.valueflow.resource.valueflow"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="TextValueflow Text Editor" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowPreferencePage" class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowSyntaxColoringPreferencePage" class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowSyntaxColoringPreferencePage" category="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowBracketPreferencePage" class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowBracketPreferencePage" category="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowOccurrencePreferencePage" class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowOccurrencePreferencePage" category="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowNewFileWizard" id="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowNewFileWizard" name="EMFText .text.valueflow file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowMarkerResolutionGenerator" markerType="org.emftext.language.valueflow.resource.valueflow.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.valueflow.resource.valueflow.ui.TextValueflowAnnotationModelFactory" extensions="valueflow" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.valueflow.resource.valueflow" name=".valueflow File" base-type="org.eclipse.core.runtime.text" file-extensions="valueflow"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="valueflow" id="org.emftext.language.valueflow.resource.valueflow.ui.provider" />
	</extension>
	
</plugin>
