<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreUIMetaInformation" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="rolecore" icon="icons/editor_icon.gif" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreEditor" name="EMFText rolecore Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.rolecore.resource.rolecore.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.rolecore.resource.rolecore.ui.RolecorePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Rolecore Text Editor" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecorePreferencePage" class="org.emftext.language.rolecore.resource.rolecore.ui.RolecorePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreSyntaxColoringPreferencePage" class="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreSyntaxColoringPreferencePage" category="org.emftext.language.rolecore.resource.rolecore.ui.RolecorePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreBracketPreferencePage" class="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreBracketPreferencePage" category="org.emftext.language.rolecore.resource.rolecore.ui.RolecorePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreOccurrencePreferencePage" class="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreOccurrencePreferencePage" category="org.emftext.language.rolecore.resource.rolecore.ui.RolecorePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreNewFileWizard" id="org.emftext.language.rolecore.resource.rolecore.ui.RolecoreNewFileWizard" name="EMFText .rolecore file">
		</wizard>
	</extension>
	
</plugin>
