<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.models.resource.model.mopp.ModelResourceFactory" type="model">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.models.resource.model.mopp.ModelMetaInformation" id="org.emftext.language.models.resource.model.mopp.ModelMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.models.resource.model.ui.ModelEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="model" icon="icons/editor_icon.gif" id="org.emftext.language.models.resource.model.ui.ModelEditor" name="EMFText model Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.models.resource.model.ui.ModelPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.models.resource.model.ui.ModelNewFileWizard" id="org.emftext.language.models.resource.model.ui.ModelNewFileWizard" name="EMFText .model file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.models.resource.model.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.models.resource.model.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
