<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://docs.oasis-open.org/wsbpel/2.0/process/executable"
            class="org.eclipse.bpel.model.BPELPackage"
            genModel="metamodel/bpel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
            class="org.eclipse.bpel.model.partnerlinktype.PartnerlinktypePackage"
            genModel="metamodel/bpel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://docs.oasis-open.org/wsbpel/2.0/varprop"
            class="org.eclipse.bpel.model.messageproperties.MessagepropertiesPackage"
            genModel="metamodel/bpel.genmodel"/>
   </extension>

</plugin>
