<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.tcltk.resource.tcl.ui.TclEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="tcl" icon="icons/editor_icon.gif" id="org.emftext.language.tcltk.resource.tcl.ui.TclEditor" name="EMFText tcl Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.tcltk.resource.tcl.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.tcltk.resource.tcl.ui.TclPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Tcl Text Editor" id="org.emftext.language.tcltk.resource.tcl.ui.TclPreferencePage" class="org.emftext.language.tcltk.resource.tcl.ui.TclPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.tcltk.resource.tcl.ui.TclSyntaxColoringPreferencePage" class="org.emftext.language.tcltk.resource.tcl.ui.TclSyntaxColoringPreferencePage" category="org.emftext.language.tcltk.resource.tcl.ui.TclPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.tcltk.resource.tcl.ui.TclBracketPreferencePage" class="org.emftext.language.tcltk.resource.tcl.ui.TclBracketPreferencePage" category="org.emftext.language.tcltk.resource.tcl.ui.TclPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.tcltk.resource.tcl.ui.TclOccurrencePreferencePage" class="org.emftext.language.tcltk.resource.tcl.ui.TclOccurrencePreferencePage" category="org.emftext.language.tcltk.resource.tcl.ui.TclPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.tcltk.resource.tcl.ui.TclNewFileWizard" id="org.emftext.language.tcltk.resource.tcl.ui.TclNewFileWizard" name="EMFText .tcl file">
		</wizard>
	</extension>
	
</plugin>
