<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.hamburger.resource.hamburger.HamburgerResourceFactory" type="hamburger">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.emftext.org/language/hamburger" csName="hamburger" csDefinition="org.emftext.language.hamburger/metamodel/hamburger.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="hamburger">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.hamburger.resource.hamburger.HamburgerNewFileWizard" id="org.emftext.language.hamburger.resource.hamburger.HamburgerNewFileWizard" name="EMFText .hamburger file">
		</wizard>
	</extension>
	
</plugin>
