<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/javaBehavior4UML"
            class="org.emftext.language.java.javabehavior4uml.Javabehavior4umlPackage"
            genModel="metamodel/JavaBehavior4UML.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">    
      <objectContribution
            adaptable="true"
            id="org.emftext.language.java.resource.register.action"
            objectClass="org.eclipse.gef.EditPart">
         <action
               class="org.emftext.language.java.javabehavior4uml.actions.AddToUMLClassifierAction"
               enablesFor="1"
               id="org.emftext.language.java.javabehavior4uml.action"
               label="Edit Java Behavior"
               menubarPath="org.emftext.language.java/actions">
         </action>
         <menu
               id="org.emftext.language.java"
               label="JaMoPP"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.emftext.language.java.resource.register.action"
            objectClass="org.eclipse.emf.ecore.EObject">
         <action
               class="org.emftext.language.java.javabehavior4uml.actions.AddToUMLClassifierAction"
               enablesFor="1"
               id="org.emftext.language.java.javabehavior4uml.action"
               label="Add Java Behavior"
               menubarPath="org.emftext.language.java/actions">
         </action>
         <menu
               id="org.emftext.language.java"
               label="JaMoPP"
               path="additions">
            <separator
                  name="actions">
            </separator>
         </menu>
      </objectContribution>
   </extension>

</plugin>
