<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.xml.resource.xml.ui.XmlEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="xml" icon="icons/editor_icon.gif" id="org.emftext.language.xml.resource.xml.ui.XmlEditor" name="EMFText xml Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.xml.resource.xml.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.xml.resource.xml.ui.XmlPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Xml Text Editor" id="org.emftext.language.xml.resource.xml.ui.XmlPreferencePage" class="org.emftext.language.xml.resource.xml.ui.XmlPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.xml.resource.xml.ui.XmlSyntaxColoringPreferencePage" class="org.emftext.language.xml.resource.xml.ui.XmlSyntaxColoringPreferencePage" category="org.emftext.language.xml.resource.xml.ui.XmlPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.xml.resource.xml.ui.XmlBracketPreferencePage" class="org.emftext.language.xml.resource.xml.ui.XmlBracketPreferencePage" category="org.emftext.language.xml.resource.xml.ui.XmlPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.xml.resource.xml.ui.XmlOccurrencePreferencePage" class="org.emftext.language.xml.resource.xml.ui.XmlOccurrencePreferencePage" category="org.emftext.language.xml.resource.xml.ui.XmlPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.xml.resource.xml.ui.XmlNewFileWizard" id="org.emftext.language.xml.resource.xml.ui.XmlNewFileWizard" name="EMFText .xml file">
		</wizard>
	</extension>
	
</plugin>
