<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.filesystem.resource.fs.ui.FsUIMetaInformation" id="org.emftext.language.filesystem.resource.fs.ui.FsUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.filesystem.resource.fs.ui.FsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="fs" icon="icons/editor_icon.gif" id="org.emftext.language.filesystem.resource.fs.ui.FsEditor" name="EMFText fs Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.filesystem.resource.fs"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.filesystem.resource.fs.ui.FsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Fs Text Editor" id="org.emftext.language.filesystem.resource.fs.ui.FsPreferencePage" class="org.emftext.language.filesystem.resource.fs.ui.FsPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.filesystem.resource.fs.ui.FsSyntaxColoringPreferencePage" class="org.emftext.language.filesystem.resource.fs.ui.FsSyntaxColoringPreferencePage" category="org.emftext.language.filesystem.resource.fs.ui.FsPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.filesystem.resource.fs.ui.FsBracketPreferencePage" class="org.emftext.language.filesystem.resource.fs.ui.FsBracketPreferencePage" category="org.emftext.language.filesystem.resource.fs.ui.FsPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.filesystem.resource.fs.ui.FsOccurrencePreferencePage" class="org.emftext.language.filesystem.resource.fs.ui.FsOccurrencePreferencePage" category="org.emftext.language.filesystem.resource.fs.ui.FsPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.filesystem.resource.fs.ui.FsNewFileWizard" id="org.emftext.language.filesystem.resource.fs.ui.FsNewFileWizard" name="EMFText .fs file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.filesystem.resource.fs.ui.FsMarkerResolutionGenerator" markerType="org.emftext.language.filesystem.resource.fs.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.filesystem.resource.fs.ui.FsAnnotationModelFactory" extensions="fs" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.filesystem.resource.fs" name=".fs File" base-type="org.eclipse.core.runtime.text" file-extensions="fs"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="fs" id="org.emftext.language.filesystem.resource.fs.ui.provider" />
	</extension>
	
</plugin>
