<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.emftext.language.java.properties.resource.propjava.default_load_options">
      <provider
            class="org.emftext.language.java.properties.resource.util.PropJavaPostProcessor"
            id="org.emftext.language.java.properties.resource.propjava.util.PropJavaPostProcessor">
      </provider>
   </extension>

   <extension
         point="org.emftext.language.java.properties.resource.propjava.default_load_options">
      <provider
            class="org.emftext.language.java.properties.resource.util.UnicodeConverterProvider"
            id="org.emftext.language.java.properties.resource.propjava.util.UnicodeConverterProvider">
      </provider>
   </extension>
    
   <extension point="org.emftext.language.java.properties.resource.propjava.default_load_options">
    <provider
          class="org.emftext.language.java.properties.resource.PropertiesJavaPostProcessor"
          id="org.emftext.language.java.properties.resource.PropertiesJavaPostProcessor">
    </provider>
   </extension>
   
</plugin>
