<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.reuseware.emftextedit.language.java.jdtconnector.nature"
         name="Reuseware DSL Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.reuseware.emftextedit.language.java.jdtconnector.Nature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.reuseware.coconut.fragment.dslbuilder.contribution1">
         <action
               label="Add/Remove Java Model Nature"
               class="org.reuseware.emftextedit.language.java.jdtconnector.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.reuseware.emftextedit.language.java.jdtconnector.NatureActioin">
         </action>
      </objectContribution>
   </extension>
 

</plugin>
