<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/java/properties"
            class="org.emftext.language.java.properties.PropertiesPackage"
            genModel="metamodel/properties.genmodel"/>
   </extension>

   <extension point="org.emftext.runtime.default_load_options">
    <provider
          class="org.emftext.language.java.properties.PropertiesJavaPostProcessor"
          csName="propjava"
          id="org.emftext.language.java.properties.PropertiesJavaPostProcessor">
    </provider>
   </extension>
   
   <extension point="org.emftext.runtime.default_load_options">
      <provider
            class="org.emftext.language.java.resource.java.analysis.helper.JavaPostProcessor"
            csName="propjava"
            id="org.emftext.language.java.expression_simplifier_option_provider">
      </provider>
   </extension>
</plugin>
