<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.java.closures.resource.closure.ui.ClosureUIMetaInformation" id="org.emftext.language.java.closures.resource.closure.ui.ClosureUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.closures.resource.closure.ui.ClosureEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="closure" icon="icons/editor_icon.gif" id="org.emftext.language.java.closures.resource.closure.ui.ClosureEditor" name="EMFText closure Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.java.closures.resource.closure"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.closures.resource.closure.ui.ClosurePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Closure Text Editor" id="org.emftext.language.java.closures.resource.closure.ui.ClosurePreferencePage" class="org.emftext.language.java.closures.resource.closure.ui.ClosurePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.java.closures.resource.closure.ui.ClosureSyntaxColoringPreferencePage" class="org.emftext.language.java.closures.resource.closure.ui.ClosureSyntaxColoringPreferencePage" category="org.emftext.language.java.closures.resource.closure.ui.ClosurePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.java.closures.resource.closure.ui.ClosureBracketPreferencePage" class="org.emftext.language.java.closures.resource.closure.ui.ClosureBracketPreferencePage" category="org.emftext.language.java.closures.resource.closure.ui.ClosurePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.java.closures.resource.closure.ui.ClosureOccurrencePreferencePage" class="org.emftext.language.java.closures.resource.closure.ui.ClosureOccurrencePreferencePage" category="org.emftext.language.java.closures.resource.closure.ui.ClosurePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.closures.resource.closure.ui.ClosureNewFileWizard" id="org.emftext.language.java.closures.resource.closure.ui.ClosureNewFileWizard" name="EMFText .closure file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.java.closures.resource.closure.ui.ClosureMarkerResolutionGenerator" markerType="org.emftext.language.java.closures.resource.closure.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.java.closures.resource.closure.ui.ClosureAnnotationModelFactory" extensions="closure" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.java.closures.resource.closure" name=".closure File" base-type="org.eclipse.core.runtime.text" file-extensions="closure"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="closure" id="org.emftext.language.java.closures.resource.closure.ui.provider" />
	</extension>
	
</plugin>
