<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.java.ejava.resource.ejava.mopp.EjavaMetaInformation" id="org.emftext.language.java.ejava.resource.ejava.mopp.EjavaMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="ejava" icon="icons/editor_icon.gif" id="org.emftext.language.java.ejava.resource.ejava.ui.EjavaEditor" name="EMFText ejava Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Ejava Text Editor" id="org.emftext.language.java.ejava.resource.ejava.ui.EjavaPreferencePage" class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.java.ejava.resource.ejava.ui.EjavaSyntaxColoringPreferencePage" class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaSyntaxColoringPreferencePage" category="org.emftext.language.java.ejava.resource.ejava.ui.EjavaPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.java.ejava.resource.ejava.ui.EjavaBracketPreferencePage" class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaBracketPreferencePage" category="org.emftext.language.java.ejava.resource.ejava.ui.EjavaPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.java.ejava.resource.ejava.ui.EjavaOccurrencePreferencePage" class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaOccurrencePreferencePage" category="org.emftext.language.java.ejava.resource.ejava.ui.EjavaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.ejava.resource.ejava.ui.EjavaNewFileWizard" id="org.emftext.language.java.ejava.resource.ejava.ui.EjavaNewFileWizard" name="EMFText .ejava file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.java.ejava.resource.ejava.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="org.emftext.language.java.ejava.resource.ejava.nature" name="ejava nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.java.ejava.resource.ejava.mopp.EjavaNature" />
		</runtime>
		<builder id="org.emftext.language.java.ejava.resource.ejava.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.java.ejava.resource.ejava.builder" name="ejava Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.java.ejava.resource.ejava.mopp.EjavaBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.java.ejava.resource.ejava.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.ejava.resource.ejava.mopp.EjavaResourceFactoryDelegator" type="ejava">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.java.ejava.resource.ejava.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
