<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocUIMetaInformation" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="ecoredoc" icon="icons/editor_icon.gif" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocEditor" name="EMFText ecoredoc Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Ecoredoc Text Editor" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocPreferencePage" class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocSyntaxColoringPreferencePage" class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocSyntaxColoringPreferencePage" category="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocBracketPreferencePage" class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocBracketPreferencePage" category="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocOccurrencePreferencePage" class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocOccurrencePreferencePage" category="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocNewFileWizard" id="org.emftext.language.ecoredoc.resource.ecoredoc.ui.EcoredocNewFileWizard" name="EMFText .ecoredoc file">
		</wizard>
	</extension>
	
</plugin>
