<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesUIMetaInformation" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="properties" icon="icons/editor_icon.gif" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesEditor" name="EMFText properties Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.javaproperties.resource.properties"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Properties Text Editor" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesPreferencePage" class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesSyntaxColoringPreferencePage" class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesSyntaxColoringPreferencePage" category="org.emftext.language.javaproperties.resource.properties.ui.PropertiesPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesBracketPreferencePage" class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesBracketPreferencePage" category="org.emftext.language.javaproperties.resource.properties.ui.PropertiesPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesOccurrencePreferencePage" class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesOccurrencePreferencePage" category="org.emftext.language.javaproperties.resource.properties.ui.PropertiesPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesNewFileWizard" id="org.emftext.language.javaproperties.resource.properties.ui.PropertiesNewFileWizard" name="EMFText .properties file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesMarkerResolutionGenerator" markerType="org.emftext.language.javaproperties.resource.properties.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.javaproperties.resource.properties.ui.PropertiesAnnotationModelFactory" extensions="properties" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.javaproperties.resource.properties" name=".properties File" base-type="org.eclipse.core.runtime.text" file-extensions="properties"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="properties" id="org.emftext.language.javaproperties.resource.properties.ui.provider" />
	</extension>
	
</plugin>
