<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaUIMetaInformation" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="treejava" icon="icons/editor_icon.gif" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaEditor" name="EMFText treejava Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.java.treejava.resource.treejava"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Treejava Text Editor" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaPreferencePage" class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaSyntaxColoringPreferencePage" class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaSyntaxColoringPreferencePage" category="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaBracketPreferencePage" class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaBracketPreferencePage" category="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaOccurrencePreferencePage" class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaOccurrencePreferencePage" category="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaNewFileWizard" id="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaNewFileWizard" name="EMFText .treejava file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaMarkerResolutionGenerator" markerType="org.emftext.language.java.treejava.resource.treejava.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.java.treejava.resource.treejava.ui.TreejavaAnnotationModelFactory" extensions="treejava" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.java.treejava.resource.treejava" name=".treejava File" base-type="org.eclipse.core.runtime.text" file-extensions="treejava"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="treejava" id="org.emftext.language.java.treejava.resource.treejava.ui.provider" />
	</extension>
	
</plugin>
