<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.conference.resource.conference.mopp.ConferenceResourceFactory" type="conference">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.conference.resource.conference.mopp.ConferenceMetaInformation" id="org.emftext.language.conference.resource.conference.mopp.ConferenceMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.conference" name="EMFText conference Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.conference" file-extensions="conference">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.conference.resource.conference.ui.ConferenceEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.conference.resource.conference.ui.ConferenceEditor" name="EMFText conference Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.conference" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.conference.resource.conference.ui.ConferencePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.conference.resource.conference.ui.ConferenceNewFileWizard" id="org.emftext.language.conference.resource.conference.ui.ConferenceNewFileWizard" name="EMFText .conference file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.conference.resource.conference.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.conference.resource.conference.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
