<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.forms.resource.forms.mopp.FormsResourceFactory" type="forms">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.forms.resource.forms.mopp.FormsTextResourcePluginMetaInformation" id="org.emftext.language.forms.resource.forms.mopp.FormsTextResourcePluginMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.forms" name="EMFText forms Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.forms" file-extensions="forms">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.forms.resource.forms.ui.FormsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.forms.resource.forms.ui.FormsEditor" name="EMFText forms Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.forms" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.forms.resource.forms.ui.FormsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.forms.resource.forms.ui.FormsNewFileWizard" id="org.emftext.language.forms.resource.forms.ui.FormsNewFileWizard" name="EMFText .forms file">
		</wizard>
	</extension>
	
	<extension-point id="org.emftext.language.forms.resource.forms.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
