<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.forms.resource.forms.mopp.FormsMetaInformation" id="org.emftext.language.forms.resource.forms.mopp.FormsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.forms.resource.forms.ui.FormsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="forms" icon="icons/editor_icon.gif" id="org.emftext.language.forms.resource.forms.ui.FormsEditor" name="EMFText forms Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.forms.resource.forms.ui.FormsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Forms Text Editor" id="org.emftext.language.forms.resource.forms.ui.FormsPreferencePage" class="org.emftext.language.forms.resource.forms.ui.FormsPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.forms.resource.forms.ui.FormsSyntaxColoringPreferencePage" class="org.emftext.language.forms.resource.forms.ui.FormsSyntaxColoringPreferencePage" category="org.emftext.language.forms.resource.forms.ui.FormsPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.forms.resource.forms.ui.FormsBracketPreferencePage" class="org.emftext.language.forms.resource.forms.ui.FormsBracketPreferencePage" category="org.emftext.language.forms.resource.forms.ui.FormsPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.forms.resource.forms.ui.FormsOccurrencePreferencePage" class="org.emftext.language.forms.resource.forms.ui.FormsOccurrencePreferencePage" category="org.emftext.language.forms.resource.forms.ui.FormsPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.forms.resource.forms.ui.FormsNewFileWizard" id="org.emftext.language.forms.resource.forms.ui.FormsNewFileWizard" name="EMFText .forms file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.forms.resource.forms.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.forms.resource.forms.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.forms.resource.forms.mopp.FormsResourceFactoryDelegator" type="forms">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.forms.resource.forms.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
