<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.emftext.language.java.closures.resource.closure.default_load_options">
      <provider
            class="org.emftext.language.java.closures.atl.ClosuresTransformationPostProcessor"
            id="org.emftext.language.java.closures.atl.provider1">
      </provider>
   </extension>

</plugin>
