<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.theater.resource.theater.ui.TheaterEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="theater" icon="icons/editor_icon.gif" id="org.emftext.language.theater.resource.theater.ui.TheaterEditor" name="EMFText theater Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.theater.resource.theater.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.theater.resource.theater.ui.TheaterPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Theater Text Editor" id="org.emftext.language.theater.resource.theater.ui.TheaterPreferencePage" class="org.emftext.language.theater.resource.theater.ui.TheaterPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.theater.resource.theater.ui.TheaterSyntaxColoringPreferencePage" class="org.emftext.language.theater.resource.theater.ui.TheaterSyntaxColoringPreferencePage" category="org.emftext.language.theater.resource.theater.ui.TheaterPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.theater.resource.theater.ui.TheaterBracketPreferencePage" class="org.emftext.language.theater.resource.theater.ui.TheaterBracketPreferencePage" category="org.emftext.language.theater.resource.theater.ui.TheaterPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.theater.resource.theater.ui.TheaterOccurrencePreferencePage" class="org.emftext.language.theater.resource.theater.ui.TheaterOccurrencePreferencePage" category="org.emftext.language.theater.resource.theater.ui.TheaterPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.theater.resource.theater.ui.TheaterNewFileWizard" id="org.emftext.language.theater.resource.theater.ui.TheaterNewFileWizard" name="EMFText .theater file">
		</wizard>
	</extension>
	
</plugin>
