<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.template_concepts.call.resource.template_call.Template_callResourceFactory" type="template_call">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.emftext.org/language/template_concepts/call" csName="template_call" csDefinition="org.emftext.language.template_concepts.call/metamodel/template_call.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="template_call">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.template_concepts.call.resource.template_call.Template_callNewFileWizard" id="org.emftext.language.template_concepts.call.resource.template_call.Template_callNewFileWizard" name="EMFText .template_call file">
		</wizard>
	</extension>
	
</plugin>
