<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/custom_sandwich"
            class="org.emftext.language.custom_sandwich.Custom_sandwichPackage"
            genModel="metamodel/custom_sandwich.genmodel"/>
   </extension>

</plugin>
