<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.modelquery.resource.modelquery.mopp.ModelqueryMetaInformation" id="org.emftext.language.modelquery.resource.modelquery.mopp.ModelqueryMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.modelquery.resource.modelquery.nature" name="modelquery nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.modelquery.resource.modelquery.mopp.ModelqueryNature" />
		</runtime>
		<builder id="org.emftext.language.modelquery.resource.modelquery.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.modelquery.resource.modelquery.builder" name="modelquery Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.modelquery.resource.modelquery.mopp.ModelqueryBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.modelquery.resource.modelquery.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.modelquery.resource.modelquery.mopp.CustomModelqueryResourceFactory" type="modelquery">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.modelquery.resource.modelquery.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
