<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.usecaseinvariant.resource.ucinv.UcinvResourceFactory" type="ucinv">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.emftext.org/language/UseCaseInvariant" csName="ucinv" csDefinition="org.emftext.language.usecaseinvariant/metamodel/UseCaseInvariant.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="ucinv">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.usecaseinvariant.resource.ucinv.UcinvNewFileWizard" id="org.emftext.language.usecaseinvariant.resource.ucinv.UcinvNewFileWizard" name="EMFText .ucinv file">
		</wizard>
	</extension>
	
</plugin>
