<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.xmas.resource.xmas.ui.XmasEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="xmas" icon="icons/editor_icon.gif" id="org.emftext.language.xmas.resource.xmas.ui.XmasEditor" name="EMFText xmas Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.xmas.resource.xmas.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.xmas.resource.xmas.ui.XmasPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Xmas Text Editor" id="org.emftext.language.xmas.resource.xmas.ui.XmasPreferencePage" class="org.emftext.language.xmas.resource.xmas.ui.XmasPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.xmas.resource.xmas.ui.XmasSyntaxColoringPreferencePage" class="org.emftext.language.xmas.resource.xmas.ui.XmasSyntaxColoringPreferencePage" category="org.emftext.language.xmas.resource.xmas.ui.XmasPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.xmas.resource.xmas.ui.XmasBracketPreferencePage" class="org.emftext.language.xmas.resource.xmas.ui.XmasBracketPreferencePage" category="org.emftext.language.xmas.resource.xmas.ui.XmasPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.xmas.resource.xmas.ui.XmasOccurrencePreferencePage" class="org.emftext.language.xmas.resource.xmas.ui.XmasOccurrencePreferencePage" category="org.emftext.language.xmas.resource.xmas.ui.XmasPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.xmas.resource.xmas.ui.XmasNewFileWizard" id="org.emftext.language.xmas.resource.xmas.ui.XmasNewFileWizard" name="EMFText .xmas file">
		</wizard>
	</extension>
	
</plugin>
