<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.java_properties.resource.properties.mopp.PropertiesMetaInformation" id="org.emftext.language.java_properties.resource.properties.mopp.PropertiesMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.emftext.language.java_properties.resource.properties.nature" name="properties nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.emftext.language.java_properties.resource.properties.mopp.PropertiesNature" />
		</runtime>
		<builder id="org.emftext.language.java_properties.resource.properties.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.emftext.language.java_properties.resource.properties.builder" name="properties Builder">
		<builder hasNature="true">
			<run class="org.emftext.language.java_properties.resource.properties.mopp.PropertiesBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="org.emftext.language.java_properties.resource.properties.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java_properties.resource.properties.mopp.PropertiesResourceFactoryDelegator" type="properties">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.java_properties.resource.properties.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
