<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrUIMetaInformation" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="regexp_antlr" icon="icons/editor_icon.gif" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrEditor" name="EMFText regexp_antlr Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.regexp.resource.regexp_antlr"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Regexp_antlr Text Editor" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrPreferencePage" class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrSyntaxColoringPreferencePage" class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrSyntaxColoringPreferencePage" category="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrBracketPreferencePage" class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrBracketPreferencePage" category="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrOccurrencePreferencePage" class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrOccurrencePreferencePage" category="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrNewFileWizard" id="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrNewFileWizard" name="EMFText .regexp_antlr file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrMarkerResolutionGenerator" markerType="org.emftext.language.regexp.resource.regexp_antlr.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.regexp.resource.regexp_antlr.ui.Regexp_antlrAnnotationModelFactory" extensions="regexp_antlr" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.regexp.resource.regexp_antlr" name=".regexp_antlr File" base-type="org.eclipse.core.runtime.text" file-extensions="regexp_antlr"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="regexp_antlr" id="org.emftext.language.regexp.resource.regexp_antlr.ui.provider" />
	</extension>
	
</plugin>
