<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.java.javabehavior4uml.resource.javabehavior.mopp.JavabehaviorResourceFactory" type="javabehavior">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.java.javabehavior4uml.resource.javabehavior.mopp.JavabehaviorTextResourcePluginMetaInformation" id="org.emftext.language.java.javabehavior4uml.resource.javabehavior.mopp.JavabehaviorTextResourcePluginMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.javabehavior" name="EMFText javabehavior Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.javabehavior" file-extensions="javabehavior">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.javabehavior4uml.resource.javabehavior.ui.JavabehaviorEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.java.javabehavior4uml.resource.javabehavior.ui.JavabehaviorEditor" name="EMFText javabehavior Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.javabehavior" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.javabehavior4uml.resource.javabehavior.ui.JavabehaviorPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.javabehavior4uml.resource.javabehavior.ui.JavabehaviorNewFileWizard" id="org.emftext.language.java.javabehavior4uml.resource.javabehavior.ui.JavabehaviorNewFileWizard" name="EMFText .javabehavior file">
		</wizard>
	</extension>
	
	<extension-point id="org.emftext.language.java.javabehavior4uml.resource.javabehavior.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
