<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.b.resource.mch.ui.MchUIMetaInformation" id="org.emftext.language.b.resource.mch.ui.MchUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.b.resource.mch.ui.MchEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="mch" icon="icons/editor_icon.gif" id="org.emftext.language.b.resource.mch.ui.MchEditor" name="EMFText mch Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.b.resource.mch.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.b.resource.mch.ui.MchPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Mch Text Editor" id="org.emftext.language.b.resource.mch.ui.MchPreferencePage" class="org.emftext.language.b.resource.mch.ui.MchPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.b.resource.mch.ui.MchSyntaxColoringPreferencePage" class="org.emftext.language.b.resource.mch.ui.MchSyntaxColoringPreferencePage" category="org.emftext.language.b.resource.mch.ui.MchPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.b.resource.mch.ui.MchBracketPreferencePage" class="org.emftext.language.b.resource.mch.ui.MchBracketPreferencePage" category="org.emftext.language.b.resource.mch.ui.MchPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.b.resource.mch.ui.MchOccurrencePreferencePage" class="org.emftext.language.b.resource.mch.ui.MchOccurrencePreferencePage" category="org.emftext.language.b.resource.mch.ui.MchPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.b.resource.mch.ui.MchNewFileWizard" id="org.emftext.language.b.resource.mch.ui.MchNewFileWizard" name="EMFText .mch file">
		</wizard>
	</extension>
	
</plugin>
