<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetResourceFactory" type="petrinet">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetMetaInformation" id="org.emftext.language.petrinet.resource.petrinet.mopp.PetrinetMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.petrinet" name="EMFText petrinet Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.petrinet" file-extensions="petrinet">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.petrinet.resource.petrinet.ui.PetrinetEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.petrinet.resource.petrinet.ui.PetrinetEditor" name="EMFText petrinet Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.petrinet" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.petrinet.resource.petrinet.ui.PetrinetPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.petrinet.resource.petrinet.ui.PetrinetNewFileWizard" id="org.emftext.language.petrinet.resource.petrinet.ui.PetrinetNewFileWizard" name="EMFText .petrinet file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.petrinet.resource.petrinet.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.petrinet.resource.petrinet.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
