<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpUIMetaInformation" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="csharp" icon="icons/editor_icon.gif" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpEditor" name="EMFText csharp Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.c_sharp.resource.csharp"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Csharp Text Editor" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferencePage" class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpSyntaxColoringPreferencePage" class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpSyntaxColoringPreferencePage" category="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpBracketPreferencePage" class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpBracketPreferencePage" category="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpOccurrencePreferencePage" class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpOccurrencePreferencePage" category="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpNewFileWizard" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpNewFileWizard" name="EMFText .csharp file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpMarkerResolutionGenerator" markerType="org.emftext.language.c_sharp.resource.csharp.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpAnnotationModelFactory" extensions="csharp" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.c_sharp.resource.csharp" name=".csharp File" base-type="org.eclipse.core.runtime.text" file-extensions="csharp"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="csharp" id="org.emftext.language.c_sharp.resource.csharp.ui.provider" />
	</extension>
	
</plugin>
