<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.threevaluedlogic.resource.tvl.mopp.TvlMetaInformation" id="org.emftext.language.threevaluedlogic.resource.tvl.mopp.TvlMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="tvl" icon="icons/editor_icon.gif" id="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlEditor" name="EMFText tvl Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Tvl Text Editor" id="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlPreferencePage" class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlPreferencePage">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlSyntaxColoringPreferencePage" class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlSyntaxColoringPreferencePage" category="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlBracketPreferencePage" class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlBracketPreferencePage" category="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlOccurrencePreferencePage" class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlOccurrencePreferencePage" category="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlNewFileWizard" id="org.emftext.language.threevaluedlogic.resource.tvl.ui.TvlNewFileWizard" name="EMFText .tvl file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.threevaluedlogic.resource.tvl.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.threevaluedlogic.resource.tvl.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.threevaluedlogic.resource.tvl.mopp.TvlResourceFactoryDelegator" type="tvl">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.threevaluedlogic.resource.tvl.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
