<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.c_sharp.resource.csharp.mopp.CsharpResourceFactory" type="csharp">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.c_sharp.resource.csharp.mopp.CsharpMetaInformation" id="org.emftext.language.c_sharp.resource.csharp.mopp.CsharpMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.csharp" name="EMFText csharp Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.csharp" file-extensions="csharp">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpEditor" name="EMFText csharp Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.csharp" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpPreferenceInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.c_sharp.resource.csharp.ui.CsharpNewFileWizard" id="org.emftext.language.c_sharp.resource.csharp.ui.CsharpNewFileWizard" name="EMFText .csharp file">
		</wizard>
	</extension>
	
</plugin>
