<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.emftext.language.csv.resource.csv.default_load_options">
      <provider
            class="org.emftext.language.csv.resource.csv.postprocessing.CsvPostProcessor"
            id="org.emftext.language.csv.resource.csv.postprocessing.provider1">
      </provider>
   </extension>

</plugin>
