<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.quickuml.resource.quml.QumlResourceFactory" type="quml">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.concretesyntax">
		<concretesyntax uri="http://www.eclipse.org/uml2/2.1.0/UML" csName="quml" csDefinition="org.emftext.language.quickuml/metamodel/quickuml.cs">
		</concretesyntax>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="quml">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.quickuml.resource.quml.QumlNewFileWizard" id="org.emftext.language.quickuml.resource.quml.QumlNewFileWizard" name="EMFText .quml file">
		</wizard>
	</extension>
	
</plugin>
