<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="additional_ecore_extension_parser" name="additional_ecore_extension_parser" schema="schema/additional_ecore_extension_parser.exsd"/>
   
  <extension
       point="org.eclipse.emf.ecore.factory_override">
    <factory
          class="org.emftext.language.ecore.resource.EcoreFactoryImpl"
          uri="http://www.eclipse.org/emf/2002/Ecore">
    </factory>
 </extension>

</plugin>
