<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/primitive_types"
            class="org.emftext.language.primitive_types.Primitive_typesPackage"
            genModel="metamodel/primitive_types.genmodel"/>
   </extension>

</plugin>
