<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.efactory.resource.efactory.ui.EfactoryUIMetaInformation" id="org.emftext.language.efactory.resource.efactory.ui.EfactoryUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.efactory.resource.efactory.ui.EfactoryEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="efactory" icon="icons/editor_icon.gif" id="org.emftext.language.efactory.resource.efactory.ui.EfactoryEditor" name="EMFText efactory Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.efactory.resource.efactory"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.efactory.resource.efactory.ui.EfactoryPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Efactory Text Editor" id="org.emftext.language.efactory.resource.efactory.ui.EfactoryPreferencePage" class="org.emftext.language.efactory.resource.efactory.ui.EfactoryPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.efactory.resource.efactory.ui.EfactorySyntaxColoringPreferencePage" class="org.emftext.language.efactory.resource.efactory.ui.EfactorySyntaxColoringPreferencePage" category="org.emftext.language.efactory.resource.efactory.ui.EfactoryPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.efactory.resource.efactory.ui.EfactoryBracketPreferencePage" class="org.emftext.language.efactory.resource.efactory.ui.EfactoryBracketPreferencePage" category="org.emftext.language.efactory.resource.efactory.ui.EfactoryPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.efactory.resource.efactory.ui.EfactoryOccurrencePreferencePage" class="org.emftext.language.efactory.resource.efactory.ui.EfactoryOccurrencePreferencePage" category="org.emftext.language.efactory.resource.efactory.ui.EfactoryPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.efactory.resource.efactory.ui.EfactoryNewFileWizard" id="org.emftext.language.efactory.resource.efactory.ui.EfactoryNewFileWizard" name="EMFText .efactory file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.efactory.resource.efactory.ui.EfactoryMarkerResolutionGenerator" markerType="org.emftext.language.efactory.resource.efactory.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.efactory.resource.efactory.ui.EfactoryAnnotationModelFactory" extensions="efactory" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.efactory.resource.efactory" name=".efactory File" base-type="org.eclipse.core.runtime.text" file-extensions="efactory"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="efactory" id="org.emftext.language.efactory.resource.efactory.ui.provider" />
	</extension>
	
</plugin>
