<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.textadventure.resource.tas.ui.TasEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="tas" icon="icons/editor_icon.gif" id="org.emftext.language.textadventure.resource.tas.ui.TasEditor" name="EMFText tas Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.textadventure.resource.tas.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.textadventure.resource.tas.ui.TasPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Tas Text Editor" id="org.emftext.language.textadventure.resource.tas.ui.TasPreferencePage" class="org.emftext.language.textadventure.resource.tas.ui.TasPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.textadventure.resource.tas.ui.TasSyntaxColoringPreferencePage" class="org.emftext.language.textadventure.resource.tas.ui.TasSyntaxColoringPreferencePage" category="org.emftext.language.textadventure.resource.tas.ui.TasPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.textadventure.resource.tas.ui.TasBracketPreferencePage" class="org.emftext.language.textadventure.resource.tas.ui.TasBracketPreferencePage" category="org.emftext.language.textadventure.resource.tas.ui.TasPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.textadventure.resource.tas.ui.TasOccurrencePreferencePage" class="org.emftext.language.textadventure.resource.tas.ui.TasOccurrencePreferencePage" category="org.emftext.language.textadventure.resource.tas.ui.TasPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.textadventure.resource.tas.ui.TasNewFileWizard" id="org.emftext.language.textadventure.resource.tas.ui.TasNewFileWizard" name="EMFText .tas file">
		</wizard>
	</extension>
	
</plugin>
