<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.b.resource.mch.mopp.MchResourceFactory" type="mch">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.syntax">
		<metaInformationProvider class="org.emftext.language.b.resource.mch.mopp.MchMetaInformation" id="org.emftext.language.b.resource.mch.mopp.MchMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="mch">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.b.resource.mch.ui.MchNewFileWizard" id="org.emftext.language.b.resource.mch.ui.MchNewFileWizard" name="EMFText .mch file">
		</wizard>
	</extension>
	
</plugin>
