<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui"
            class="org.emftext.language.egui.EguiPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui/commons"
            class="org.emftext.language.egui.commons.CommonsPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui/statemodel"
            class="org.emftext.language.egui.statemodel.StatemodelPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui/actions"
            class="org.emftext.language.egui.actions.ActionsPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui/screenmodel"
            class="org.emftext.language.egui.screenmodel.ScreenmodelPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui/widgets"
            class="org.emftext.language.egui.widgets.WidgetsPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.emftext.org/language/egui/screenimport"
            class="org.emftext.language.egui.screenimport.ScreenimportPackage"
            genModel="metamodel/egui.genmodel"/>
   </extension>

</plugin>
