<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.devboost.stanford.language.resource.txt.mopp.TxtMetaInformation" id="org.devboost.stanford.language.resource.txt.mopp.TxtMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.devboost.stanford.language.resource.txt.problem">
		</super>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.devboost.stanford.language.resource.txt.problem">
		</super>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.devboost.stanford.language.resource.txt.problem">
		</super>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.devboost.stanford.language.resource.txt.problem">
		</super>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.devboost.stanford.language.resource.txt.problem">
		</super>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.nature" name="txt nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.devboost.stanford.language.resource.txt.mopp.TxtNature">
			</run>
		</runtime>
		<builder id="org.devboost.stanford.language.resource.txt.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.devboost.stanford.language.resource.txt.builder" name="txt Builder">
		<builder hasNature="true">
			<run class="org.devboost.stanford.language.resource.txt.mopp.TxtBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.devboost.stanford.language.resource.txt.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.devboost.stanford.language.resource.txt.mopp.TxtResourceFactoryDelegator" type="txt">
		</parser>
	</extension>
	
	<extension-point id="org.devboost.stanford.language.resource.txt.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.devboost.stanford.language.resource.txt.debug.TxtLineBreakpoint" id="org.devboost.stanford.language.resource.txt.debug.breakpoint" markerType="org.devboost.stanford.language.resource.txt.debug.lineBreakpoint.marker" name="txt Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.devboost.stanford.language.resource.txt.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.devboost.stanford.language.resource.txt.ui.launchConfigurationType" delegate="org.devboost.stanford.language.resource.txt.launch.TxtLaunchConfigurationDelegate" modes="run,debug" name="txt Application" sourceLocatorId="org.devboost.stanford.language.resource.txt.ui.sourceLocator" sourcePathComputerId="org.devboost.stanford.language.resource.txt.ui.sourcePathComputer" delegateName="txt Launch Tooling" delegateDescription="This will run or debug .txt files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.devboost.stanford.language.resource.txt.debug.TxtSourcePathComputerDelegate" id="org.devboost.stanford.language.resource.txt.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.devboost.stanford.language.resource.txt.ui.sourceLocator" class="org.devboost.stanford.language.resource.txt.debug.TxtSourceLocator" name="txt Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
