<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateUIMetaInformation" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="javatemplate" icon="icons/editor_icon.gif" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateEditor" name="EMFText javatemplate Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.java.jtemplates.resource.javatemplate"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplatePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Javatemplate Text Editor" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplatePreferencePage" class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplatePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateSyntaxColoringPreferencePage" class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateSyntaxColoringPreferencePage" category="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplatePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateBracketPreferencePage" class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateBracketPreferencePage" category="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplatePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateOccurrencePreferencePage" class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateOccurrencePreferencePage" category="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplatePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateNewFileWizard" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateNewFileWizard" name="EMFText .javatemplate file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.java.jtemplates.resource.javatemplate.ui.JavatemplateAnnotationModelFactory" extensions="javatemplate" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.java.jtemplates.resource.javatemplate" name=".javatemplate File" base-type="org.eclipse.core.runtime.text" file-extensions="javatemplate"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="javatemplate" id="org.emftext.language.java.jtemplates.resource.javatemplate.ui.provider" />
	</extension>
	
</plugin>
