<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="reusejava" icon="icons/editor_icon.gif" id="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaEditor" name="EMFText reusejava Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.java.reusejava.resource.reusejava.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Reusejava Text Editor" id="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaPreferencePage" class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaSyntaxColoringPreferencePage" class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaSyntaxColoringPreferencePage" category="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaBracketPreferencePage" class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaBracketPreferencePage" category="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaOccurrencePreferencePage" class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaOccurrencePreferencePage" category="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaNewFileWizard" id="org.emftext.language.java.reusejava.resource.reusejava.ui.ReusejavaNewFileWizard" name="EMFText .reusejava file">
		</wizard>
	</extension>
	
</plugin>
