<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.feature.resource.feature.ui.FeatureUIMetaInformation" id="org.emftext.language.feature.resource.feature.ui.FeatureUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.feature.resource.feature.ui.FeatureEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="feature" icon="icons/editor_icon.gif" id="org.emftext.language.feature.resource.feature.ui.FeatureEditor" name="EMFText feature Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.feature.resource.feature.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.feature.resource.feature.ui.FeaturePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Feature Text Editor" id="org.emftext.language.feature.resource.feature.ui.FeaturePreferencePage" class="org.emftext.language.feature.resource.feature.ui.FeaturePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.feature.resource.feature.ui.FeatureSyntaxColoringPreferencePage" class="org.emftext.language.feature.resource.feature.ui.FeatureSyntaxColoringPreferencePage" category="org.emftext.language.feature.resource.feature.ui.FeaturePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.feature.resource.feature.ui.FeatureBracketPreferencePage" class="org.emftext.language.feature.resource.feature.ui.FeatureBracketPreferencePage" category="org.emftext.language.feature.resource.feature.ui.FeaturePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.feature.resource.feature.ui.FeatureOccurrencePreferencePage" class="org.emftext.language.feature.resource.feature.ui.FeatureOccurrencePreferencePage" category="org.emftext.language.feature.resource.feature.ui.FeaturePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.feature.resource.feature.ui.FeatureNewFileWizard" id="org.emftext.language.feature.resource.feature.ui.FeatureNewFileWizard" name="EMFText .feature file">
		</wizard>
	</extension>
	
</plugin>
