<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.quickuml.resource.quml.ui.QumlUIMetaInformation" id="org.emftext.language.quickuml.resource.quml.ui.QumlUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.quickuml.resource.quml.ui.QumlEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="quml" icon="icons/editor_icon.gif" id="org.emftext.language.quickuml.resource.quml.ui.QumlEditor" name="EMFText quml Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.quickuml.resource.quml"/>
		</editor>
	</extension>
	
	<extension id="org.emftext.language.quickuml.resource.quml.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.quickuml.resource.quml.ui.QumlPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Quml Text Editor" id="org.emftext.language.quickuml.resource.quml.ui.QumlPreferencePage" class="org.emftext.language.quickuml.resource.quml.ui.QumlPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.quickuml.resource.quml.ui.QumlSyntaxColoringPreferencePage" class="org.emftext.language.quickuml.resource.quml.ui.QumlSyntaxColoringPreferencePage" category="org.emftext.language.quickuml.resource.quml.ui.QumlPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.quickuml.resource.quml.ui.QumlBracketPreferencePage" class="org.emftext.language.quickuml.resource.quml.ui.QumlBracketPreferencePage" category="org.emftext.language.quickuml.resource.quml.ui.QumlPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.quickuml.resource.quml.ui.QumlOccurrencePreferencePage" class="org.emftext.language.quickuml.resource.quml.ui.QumlOccurrencePreferencePage" category="org.emftext.language.quickuml.resource.quml.ui.QumlPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.quickuml.resource.quml.ui.QumlNewFileWizard" id="org.emftext.language.quickuml.resource.quml.ui.QumlNewFileWizard" name="EMFText .quml file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.quickuml.resource.quml.ui.QumlAnnotationModelFactory" extensions="quml" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.quickuml.resource.quml" name=".quml File" base-type="org.eclipse.core.runtime.text" file-extensions="quml"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="quml" id="org.emftext.language.quickuml.resource.quml.ui.provider" />
	</extension>
	
</plugin>
