<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.rails.resource.rails.mopp.RailsResourceFactory" type="rails">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.rails.resource.rails.mopp.RailsMetaInformation" id="org.emftext.language.rails.resource.rails.mopp.RailsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.rails" name="EMFText rails Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.rails" file-extensions="rails">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.rails.resource.rails.ui.RailsEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.rails.resource.rails.ui.RailsEditor" name="EMFText rails Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.rails" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.rails.resource.rails.ui.RailsPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.rails.resource.rails.ui.RailsNewFileWizard" id="org.emftext.language.rails.resource.rails.ui.RailsNewFileWizard" name="EMFText .rails file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.rails.resource.rails.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.rails.resource.rails.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
