<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.simple_math.resource.sm.default_load_options">
      <provider
            class="org.emftext.language.simple_math.interpreter.InterpretingPostProcessor"
            id="org.emftext.language.simple_math.interpreter.provider">
      </provider>
   </extension>

</plugin>
