<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.dot.resource.dot.mopp.DotResourceFactory" type="dot">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.dot.resource.dot.mopp.DotMetaInformation" id="org.emftext.language.dot.resource.dot.mopp.DotMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.dot.resource.dot.ui.DotEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="dot" icon="icons/editor_icon.gif" id="org.emftext.language.dot.resource.dot.ui.DotEditor" name="EMFText dot Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.dot.resource.dot.ui.DotPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.dot.resource.dot.ui.DotNewFileWizard" id="org.emftext.language.dot.resource.dot.ui.DotNewFileWizard" name="EMFText .dot file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.dot.resource.dot.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.dot.resource.dot.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
