<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.dot.resource.dot.DotResourceFactory" type="dot">
		</parser>
	</extension>
	
	<extension point="org.emftext.runtime.syntax">
		<metaInformationProvider class="org.emftext.language.dot.resource.dot.DotMetaInformation" id="org.emftext.language.dot.resource.dot.DotMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<file-association content-type="org.emftext.filetype" file-extensions="dot">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.dot.resource.dot.DotNewFileWizard" id="org.emftext.language.dot.resource.dot.DotNewFileWizard" name="EMFText .dot file">
		</wizard>
	</extension>
	
</plugin>
