<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.formular.resource.formular.mopp.FormularMetaInformation" id="org.emftext.language.formular.resource.formular.mopp.FormularMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.formular.resource.formular.ui.FormularEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="formular" icon="icons/editor_icon.gif" id="org.emftext.language.formular.resource.formular.ui.FormularEditor" name="EMFText formular Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.formular.resource.formular.ui.FormularPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Formular Text Editor" id="org.emftext.language.formular.resource.formular.ui.FormularPreferencePage" class="org.emftext.language.formular.resource.formular.ui.FormularPreferencePage">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.formular.resource.formular.ui.FormularSyntaxColoringPreferencePage" class="org.emftext.language.formular.resource.formular.ui.FormularSyntaxColoringPreferencePage" category="org.emftext.language.formular.resource.formular.ui.FormularPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.formular.resource.formular.ui.FormularBracketPreferencePage" class="org.emftext.language.formular.resource.formular.ui.FormularBracketPreferencePage" category="org.emftext.language.formular.resource.formular.ui.FormularPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.formular.resource.formular.ui.FormularOccurrencePreferencePage" class="org.emftext.language.formular.resource.formular.ui.FormularOccurrencePreferencePage" category="org.emftext.language.formular.resource.formular.ui.FormularPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.formular.resource.formular.ui.FormularNewFileWizard" id="org.emftext.language.formular.resource.formular.ui.FormularNewFileWizard" name="EMFText .formular file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.formular.resource.formular.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.formular.resource.formular.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.formular.resource.formular.mopp.FormularResourceFactoryDelegator" type="formular">
		</parser>
	</extension>
	
	<extension-point id="org.emftext.language.formular.resource.formular.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
