<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaUIMetaInformation" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="lambda" icon="icons/editor_icon.gif" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaEditor" name="EMFText lambda Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.lambdacalculus.resource.lambda.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Lambda Text Editor" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaPreferencePage" class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaSyntaxColoringPreferencePage" class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaSyntaxColoringPreferencePage" category="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaBracketPreferencePage" class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaBracketPreferencePage" category="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaOccurrencePreferencePage" class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaOccurrencePreferencePage" category="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaNewFileWizard" id="org.emftext.language.lambdacalculus.resource.lambda.ui.LambdaNewFileWizard" name="EMFText .lambda file">
		</wizard>
	</extension>
	
</plugin>
