<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.mopp.RailsTgg_ruleResourceFactory" type="rails.tgg_rule">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.mopp.RailsTgg_ruleMetaInformation" id="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.mopp.RailsTgg_ruleMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.rails.tgg_rule" name="EMFText rails.tgg_rule Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.rails.tgg_rule" file-extensions="rails.tgg_rule">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.ui.RailsTgg_ruleEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.ui.RailsTgg_ruleEditor" name="EMFText rails.tgg_rule Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.rails.tgg_rule" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.ui.RailsTgg_rulePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.ui.RailsTgg_ruleNewFileWizard" id="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.ui.RailsTgg_ruleNewFileWizard" name="EMFText .rails.tgg_rule file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.rails.tgg_rule.resource.rails.tgg_rule.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
