<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.pico.resource.pico.mopp.PicoResourceFactory" type="pico">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.pico.resource.pico.mopp.PicoMetaInformation" id="org.emftext.language.pico.resource.pico.mopp.PicoMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.pico.resource.pico.ui.PicoEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="pico" icon="icons/editor_icon.gif" id="org.emftext.language.pico.resource.pico.ui.PicoEditor" name="EMFText pico Editor">
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.pico.resource.pico.ui.PicoPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.pico.resource.pico.ui.PicoNewFileWizard" id="org.emftext.language.pico.resource.pico.ui.PicoNewFileWizard" name="EMFText .pico file">
		</wizard>
	</extension>
	
	<extension id="org.emftext.language.pico.resource.pico.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension-point id="org.emftext.language.pico.resource.pico.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
