<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.pico.resource.pico.ui.PicoUIMetaInformation" id="org.emftext.language.pico.resource.pico.ui.PicoUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.pico.resource.pico.ui.PicoEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="pico" icon="icons/editor_icon.gif" id="org.emftext.language.pico.resource.pico.ui.PicoEditor" name="EMFText pico Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.pico.resource.pico"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.pico.resource.pico.ui.PicoPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Pico Text Editor" id="org.emftext.language.pico.resource.pico.ui.PicoPreferencePage" class="org.emftext.language.pico.resource.pico.ui.PicoPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.pico.resource.pico.ui.PicoSyntaxColoringPreferencePage" class="org.emftext.language.pico.resource.pico.ui.PicoSyntaxColoringPreferencePage" category="org.emftext.language.pico.resource.pico.ui.PicoPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.pico.resource.pico.ui.PicoBracketPreferencePage" class="org.emftext.language.pico.resource.pico.ui.PicoBracketPreferencePage" category="org.emftext.language.pico.resource.pico.ui.PicoPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.pico.resource.pico.ui.PicoOccurrencePreferencePage" class="org.emftext.language.pico.resource.pico.ui.PicoOccurrencePreferencePage" category="org.emftext.language.pico.resource.pico.ui.PicoPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.pico.resource.pico.ui.PicoNewFileWizard" id="org.emftext.language.pico.resource.pico.ui.PicoNewFileWizard" name="EMFText .pico file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.pico.resource.pico.ui.PicoMarkerResolutionGenerator" markerType="org.emftext.language.pico.resource.pico.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.pico.resource.pico.ui.PicoAnnotationModelFactory" extensions="pico" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.pico.resource.pico" name=".pico File" base-type="org.eclipse.core.runtime.text" file-extensions="pico"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="pico" id="org.emftext.language.pico.resource.pico.ui.provider" />
	</extension>
	
</plugin>
