<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.conference.resource.conference.ui.ConferenceUIMetaInformation" id="org.emftext.language.conference.resource.conference.ui.ConferenceUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.conference.resource.conference.ui.ConferenceEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="conference" icon="icons/editor_icon.gif" id="org.emftext.language.conference.resource.conference.ui.ConferenceEditor" name="EMFText conference Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.conference.resource.conference"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.conference.resource.conference.ui.ConferencePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Conference Text Editor" id="org.emftext.language.conference.resource.conference.ui.ConferencePreferencePage" class="org.emftext.language.conference.resource.conference.ui.ConferencePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.conference.resource.conference.ui.ConferenceSyntaxColoringPreferencePage" class="org.emftext.language.conference.resource.conference.ui.ConferenceSyntaxColoringPreferencePage" category="org.emftext.language.conference.resource.conference.ui.ConferencePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.conference.resource.conference.ui.ConferenceBracketPreferencePage" class="org.emftext.language.conference.resource.conference.ui.ConferenceBracketPreferencePage" category="org.emftext.language.conference.resource.conference.ui.ConferencePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.conference.resource.conference.ui.ConferenceOccurrencePreferencePage" class="org.emftext.language.conference.resource.conference.ui.ConferenceOccurrencePreferencePage" category="org.emftext.language.conference.resource.conference.ui.ConferencePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.conference.resource.conference.ui.ConferenceNewFileWizard" id="org.emftext.language.conference.resource.conference.ui.ConferenceNewFileWizard" name="EMFText .conference file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.conference.resource.conference.ui.ConferenceMarkerResolutionGenerator" markerType="org.emftext.language.conference.resource.conference.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.conference.resource.conference.ui.ConferenceAnnotationModelFactory" extensions="conference" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.conference.resource.conference" name=".conference File" base-type="org.eclipse.core.runtime.text" file-extensions="conference"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="conference" id="org.emftext.language.conference.resource.conference.ui.provider" />
	</extension>
	
</plugin>
