<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.itu.dk/sdg/language/xwpf"
            class="dk.itu.sdg.language.xwpf.XwpfPackage"
            genModel="metamodel/xwpf.genmodel"/>
   </extension>
   
</plugin>
