<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.emftext.language.feature.resource.feature.mopp.FeatureResourceFactory" type="feature">
		</parser>
	</extension>
	
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.emftext.language.feature.resource.feature.mopp.FeatureTextResourcePluginMetaInformation" id="org.emftext.language.feature.resource.feature.mopp.FeatureTextResourcePluginMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.filetype.feature" name="EMFText feature Files">
		</content-type>
		<file-association content-type="org.emftext.filetype.feature" file-extensions="feature">
		</file-association>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.feature.resource.feature.ui.FeatureEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" icon="icons/editor_icon.gif" id="org.emftext.language.feature.resource.feature.ui.FeatureEditor" name="EMFText feature Editor">
			<contentTypeBinding contentTypeId="org.eclipse.core.runtime.text">
			</contentTypeBinding>
			<contentTypeBinding contentTypeId="org.emftext.filetype.feature" >
			</contentTypeBinding>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.feature.resource.feature.ui.FeaturePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.feature.resource.feature.ui.FeatureNewFileWizard" id="org.emftext.language.feature.resource.feature.ui.FeatureNewFileWizard" name="EMFText .feature file">
		</wizard>
	</extension>
	
	<extension-point id="org.emftext.language.feature.resource.feature.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
</plugin>
