<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.simple_math.resource.sm.ui.SmUIMetaInformation" id="org.emftext.language.simple_math.resource.sm.ui.SmUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.simple_math.resource.sm.ui.SmEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="sm" icon="icons/editor_icon.gif" id="org.emftext.language.simple_math.resource.sm.ui.SmEditor" name="EMFText sm Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.simple_math.resource.sm.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.simple_math.resource.sm.ui.SmPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Sm Text Editor" id="org.emftext.language.simple_math.resource.sm.ui.SmPreferencePage" class="org.emftext.language.simple_math.resource.sm.ui.SmPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.simple_math.resource.sm.ui.SmSyntaxColoringPreferencePage" class="org.emftext.language.simple_math.resource.sm.ui.SmSyntaxColoringPreferencePage" category="org.emftext.language.simple_math.resource.sm.ui.SmPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.simple_math.resource.sm.ui.SmBracketPreferencePage" class="org.emftext.language.simple_math.resource.sm.ui.SmBracketPreferencePage" category="org.emftext.language.simple_math.resource.sm.ui.SmPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.simple_math.resource.sm.ui.SmOccurrencePreferencePage" class="org.emftext.language.simple_math.resource.sm.ui.SmOccurrencePreferencePage" category="org.emftext.language.simple_math.resource.sm.ui.SmPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.simple_math.resource.sm.ui.SmNewFileWizard" id="org.emftext.language.simple_math.resource.sm.ui.SmNewFileWizard" name="EMFText .sm file">
		</wizard>
	</extension>
	
</plugin>
