<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.reuseware.emftextedit.runtime.concretesyntax">
      <concretesyntax
            uri="http://www.reuseware.org/java"
            csName="java"
            csDefinition="org.reuseware.emftextedit.language.java/metamodel/java.cs">
      </concretesyntax>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.reuseware.emftextedit.filetype"
            file-extensions="java">
      </file-association>
   </extension>

</plugin>
