<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.uml2.uml.resource.uml.UmlResourceFactoryImpl"
            type="uml">
      </parser>
   </extension>

   <extension
         point="org.reuseware.emftextedit.runtime.concretesyntax">
      <concretesyntax
            uri="http://www.eclipse.org/uml2/2.1.0/UML"
            csName="uml"
            csDefinition="org.reuseware.emftextedit.language.statechart/metamodel/UML.cs">
      </concretesyntax>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.reuseware.emftextedit.filetype"
            file-extensions="uml">
      </file-association>
   </extension>

</plugin>
