<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
         point="org.emftext.refactoring.rolemapping">
      <rolemapping
            rolemapping_resource="rolemappings/encapsulateInPanel.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/renameElement.rolemapping">
      </rolemapping>
      <rolemapping
            rolemapping_resource="rolemappings/createInitialState.rolemapping">
      </rolemapping>
   </extension>
 <extension
       point="org.emftext.refactoring.postprocessor">
    <postprocessor
          mapping_name="Create Initial State"
          nsUri="http://www.emftext.org/language/egui"
          postprocessor="org.emftext.language.egui.refactoring.CreateInitialStatePostProcessor">
    </postprocessor>
 </extension>
</plugin>
