<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emftext.language.rolecore.resource.rolecore.default_load_options">
      <provider
            class="org.emftext.language.rolecore.ecore_compiler.RolecoreCompiler"
            id="org.emftext.language.rolecore.ecore_compiler.provider">
      </provider>
   </extension>

</plugin>
