<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.csv.resource.csv.ui.CsvUIMetaInformation" id="org.emftext.language.csv.resource.csv.ui.CsvUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.csv.resource.csv.ui.CsvEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="csv" icon="icons/editor_icon.gif" id="org.emftext.language.csv.resource.csv.ui.CsvEditor" name="EMFText csv Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.csv.resource.csv"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.csv.resource.csv.ui.CsvPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Csv Text Editor" id="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.csv.resource.csv.ui.CsvSyntaxColoringPreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvSyntaxColoringPreferencePage" category="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.csv.resource.csv.ui.CsvBracketPreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvBracketPreferencePage" category="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.csv.resource.csv.ui.CsvOccurrencePreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvOccurrencePreferencePage" category="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.csv.resource.csv.ui.CsvNewFileWizard" id="org.emftext.language.csv.resource.csv.ui.CsvNewFileWizard" name="EMFText .csv file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.csv.resource.csv.ui.CsvMarkerResolutionGenerator" markerType="org.emftext.language.csv.resource.csv.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.csv.resource.csv.ui.CsvAnnotationModelFactory" extensions="csv" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.csv.resource.csv" name=".csv File" base-type="org.eclipse.core.runtime.text" file-extensions="csv"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="csv" id="org.emftext.language.csv.resource.csv.ui.provider" />
	</extension>
	
</plugin>
