<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.csv.resource.csv.ui.CsvEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="csv" icon="icons/editor_icon.gif" id="org.emftext.language.csv.resource.csv.ui.CsvEditor" name="EMFText csv Editor">
		</editor>
	</extension>
	
	<extension id="org.emftext.language.csv.resource.csv.ui.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.csv.resource.csv.ui.CsvPreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Csv Text Editor" id="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.csv.resource.csv.ui.CsvSyntaxColoringPreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvSyntaxColoringPreferencePage" category="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.csv.resource.csv.ui.CsvBracketPreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvBracketPreferencePage" category="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.csv.resource.csv.ui.CsvOccurrencePreferencePage" class="org.emftext.language.csv.resource.csv.ui.CsvOccurrencePreferencePage" category="org.emftext.language.csv.resource.csv.ui.CsvPreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.csv.resource.csv.ui.CsvNewFileWizard" id="org.emftext.language.csv.resource.csv.ui.CsvNewFileWizard" name="EMFText .csv file">
		</wizard>
	</extension>
	
</plugin>
