<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax.ui">
		<metaInformationProvider class="org.emftext.language.office.resource.office.ui.OfficeUIMetaInformation" id="org.emftext.language.office.resource.office.ui.OfficeUIMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension point="org.eclipse.ui.editors">
		<editor class="org.emftext.language.office.resource.office.ui.OfficeEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="office" icon="icons/editor_icon.gif" id="org.emftext.language.office.resource.office.ui.OfficeEditor" name="EMFText office Editor">
			<contentTypeBinding contentTypeId="org.emftext.language.office.resource.office"/>
		</editor>
	</extension>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.emftext.language.office.resource.office.ui.OfficePreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.ui.preferencePages">
		<page name="Office Text Editor" id="org.emftext.language.office.resource.office.ui.OfficePreferencePage" class="org.emftext.language.office.resource.office.ui.OfficePreferencePage" category="org.eclipse.ui.preferencePages.GeneralTextEditor">
		</page>
		<page name="Syntax Coloring" id="org.emftext.language.office.resource.office.ui.OfficeSyntaxColoringPreferencePage" class="org.emftext.language.office.resource.office.ui.OfficeSyntaxColoringPreferencePage" category="org.emftext.language.office.resource.office.ui.OfficePreferencePage">
		</page>
		<page name="Brackets" id="org.emftext.language.office.resource.office.ui.OfficeBracketPreferencePage" class="org.emftext.language.office.resource.office.ui.OfficeBracketPreferencePage" category="org.emftext.language.office.resource.office.ui.OfficePreferencePage">
		</page>
		<page name="Occurrence" id="org.emftext.language.office.resource.office.ui.OfficeOccurrencePreferencePage" class="org.emftext.language.office.resource.office.ui.OfficeOccurrencePreferencePage" category="org.emftext.language.office.resource.office.ui.OfficePreferencePage">
		</page>
	</extension>
	
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.emftext.runtime.ui.EMFTextFileCategory" name="EMFText File">
		</category>
		<wizard category="org.emftext.runtime.ui.EMFTextFileCategory" icon="/icons/default_new_icon.gif" class="org.emftext.language.office.resource.office.ui.OfficeNewFileWizard" id="org.emftext.language.office.resource.office.ui.OfficeNewFileWizard" name="EMFText .office file">
		</wizard>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator class="org.emftext.language.office.resource.office.ui.OfficeMarkerResolutionGenerator" markerType="org.emftext.language.office.resource.office.problem" />
	</extension>
	
	<extension point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory class="org.emftext.language.office.resource.office.ui.OfficeAnnotationModelFactory" extensions="office" />
	</extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type id="org.emftext.language.office.resource.office" name=".office File" base-type="org.eclipse.core.runtime.text" file-extensions="office"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider class="org.eclipse.ui.editors.text.TextFileDocumentProvider" extensions="office" id="org.emftext.language.office.resource.office.ui.provider" />
	</extension>
	
</plugin>
